{% if request.user.is_organizer or request.user.is_volunteer_accepted %}
    <li class="{% if 'hacker' in request.build_absolute_uri %}active{% endif %}">
        {% if request.user.is_organizer %}
            <a href="{% url 'app_list' %}">Hacker</a>
        {% else %}
            <a href="{% url 'check_in_list' %}">Check-in</a>
        {% endif %}
    </li>
    {% if request.user.is_organizer %}
        {% if request.user.has_volunteer_access %}
            <li class="{% if 'volunteer' in request.build_absolute_uri %}active{% endif %}"><a
                    href="{% url 'volunteer_list' %}">Volunteer</a></li>
        {% endif %}
        {% if request.user.has_mentor_access %}
            <li class="{% if 'mentor' in request.build_absolute_uri %}active{% endif %}"><a
                href="{% url 'mentor_list' %}">Mentor</a></li>
        {% endif %}
        {% if request.user.has_sponsor_access %}
            <li class="{% if 'sponsor' in request.build_absolute_uri %}active{% endif %}"><a
                href="{% url 'sponsor_user_list' %}">Sponsor</a></li>
        {% endif %}
    {% endif %}
{% endif %}
