<p>
    Have any other questions? Email us at {{ h_contact_email|urlize }}
    {% if h_fb or h_tw %}
        or message us on
        {% if h_fb %}
            {% if h_tw %}
                <a href="https://facebook.com/{{ h_fb }}" target="_blank">Facebook</a>
                and
                <a href="https://twitter.com/{{ h_tw }}" target="_blank">Twitter</a>.
            {% else %}
                <a href="https://facebook.com/{{ h_fb }}" target="_blank">Facebook</a>.
            {% endif %}
        {% elif h_tw %}
            <a href="https://twitter.com/{{ h_tw }}" target="_blank">Twitter</a>.
        {% endif %}
    {% endif %}
</p>
<p>We hope to see you at {{ h_name }}!</p>
<p>Best, {{ h_name }} Team.</p>
