<p>
    Have any other question? Email us at {{ h_contact_email|urlize }}
    {% if h_fb or h_tw %}
        or message us on
        {% if h_fb %}
            <a href="https://facebook.com/{{ h_fb }}" target="_blank">Facebook</a>
            {% if h_tw %}
                and
                <a href="https://instagram.com/{{ h_ig }}" target="_blank">Instagram</a>
            {% endif %}
        {% elif h_tw %}
            <a href="https://instagram.com/{{ h_ig }}" target="_blank">Instagram</a>
        {% endif %}
        .
    {% endif %}
</p>
<p>We hope to see you at {{ h_name }}!</p>
<p>Best,</p>
<p>{{ h_name }} Team</p>
