.button-qr {
    vertical-align: middle;
    padding: 5px 7px 3px;
    border: thin solid #ddd;
    cursor: pointer;
    float: left;
    font-size: 24px;
    border-radius: 4px;
}

.button-qr-success {
    color: #3c763d;
    border-color: #3c763d;
}

.input-qr {
    display: block;
    overflow: hidden;
    padding-left: 10px;
}

.baggage-popup-scan {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 600px;
    padding: 15px;
    border: 3px solid #333;
    text-align: center;
    z-index: 1032;
    background-color: white;
}

.baggage-popup-scan select {
    margin-bottom: 15px;
}

.baggage-popup-scan video {
    width: 100%;
    margin: 0 auto;
}

.baggage-inside-scan {
    width: 100%;
}

.baggage-inside-scan select {
    margin-bottom: 15px;
}

.baggage-inside-scan video {
    width: 100%;
    margin: 0 auto;
}

.veil {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1031;
    background-color: rgba(30,30,30,0.9);
    cursor: pointer;
}

.tab {
    overflow: hidden;
    float: right;
}

.tab button {
}

.tab button:hover {
    background-color: #aa002d !important;
}

.tab button.active {
    background-color: #aa002d !important;
}

.tabcontent {
    display: none;
    padding: 0;
}

.tabcontent {
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {opacity: 0.5;}
    to {opacity: 1;}
}

.baggage-table {
    width: 100%;
}

.baggage-table-tr {
    
}

.baggage-table-th {
    padding: 1em;
    text-align: center;
    vertical-align: center;
    background-color: #e7e7e7;
    border: 5px solid #FFF;
}

.baggage-table-th a {
    color: #FFF;
}

.baggage-table tr:first-child th {
    border-top: 0;
}

.baggage-table tr:last-child td {
    border-bottom: 0;
}

.baggage-table tr td:first-child,
.baggage-table tr th:first-child {
    border-left: 0;
}

.baggage-table tr td:last-child,
.baggage-table tr th:last-child {
    border-right: 0;
}

.baggage-header {
    width: 100%;
    display: block;
    margin-bottom: 1.25em;
}

.baggage-title {
    font-size: 29px;
}

/* Custom display */
.baggage-table-th-6 {
    border-right: 15px solid #FFF;
}

.image-info {
    color: #777;
    font-size: 14px;
}