{% load humanize %}

<h4>T-Shirts</h4>
<table class="table">
    <thead>
    <tr>
        {% for tshirt in module.tshirts %}
            <th>{{ tshirt.hacker__tshirt_size }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    <tr>
        {% for tshirt in module.tshirts %}
            <td width="1" align="center">{{ tshirt.count }}</td>
        {% endfor %}
    </tr>
    </tbody>
</table>
<h4>Diet</h4>
<table class="table">
    <thead>
    <tr>
        {% for diet in module.diets %}
            <th>{{ diet.hacker__diet }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    <tr>
        {% for diet in module.diets %}
            <td width="1" align="center">{{ diet.count }}</td>
        {% endfor %}
    </tr>
    </tbody>
</table>
<h4>Status</h4>
<table class="table">
    <thead>
    <tr>
        {% for status in module.count_status %}
            <th>{{ status.status }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    <tr>
        {% for status in module.count_status %}
            <td width="1" align="center">{{ status.count }}</td>
        {% endfor %}
    </tr>
    </tbody>
</table>
<h4>Reimbursement money</h4>
<h2>Total projection: {{ module.amount__total.total }} €</h2>
<h2>Pending tickets: {{ module.amount__sent.total }} €</h2>
<h2>Accepted: {{ module.amount__accepted.total }} €</h2>
