{% extends "base_tabs.html" %}
{% load humanize %}
{% load bootstrap3 %}
{% load static %}
{% block head_title %}
    {% if review %} Review receipts{% else %}{{ reimb.hacker.get_full_name }}'s reimbursement{% endif %}
{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'lib/bars-square.css' %}">
    <link rel="stylesheet" href="{% static 'css/vote.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block panel %}
    {% if reimb %}
        <div class="{% if user.is_director or reimb %}col-md-8 margin-right{% else %}col-md-12{% endif %}">
            <h2>{% if review %} Review receipts{% else %}{{ reimb.hacker.get_full_name }}'s
                reimbursement{% endif %}</h2>
            <a target="_blank" style="color:black; text-decoration: none;" class="pull-right fa fa-link"
               href="{% url 'reimbursement_detail' reimb.pk %}">
            </a>

            <dl class="dl-horizontal">
                <dt>
                <h3>Personal</h3>
                </dt>
                <dd></dd>
                {% include 'include/field.html' with desc='Full name' value=reimb.hacker.name %}
                {% include 'include/field.html' with desc='Email' value=reimb.hacker.email %}
                {% include 'include/field.html' with desc='Last update' value=reimb.update_time|naturaltime %}
                {% include 'include/field.html' with desc='Status' value=reimb.get_status_display %}
                {% include 'include/field.html' with desc='Country' value=reimb.origin_country %}
                {% include 'include/field.html' with desc='City' value=reimb.origin %}
                <hr>
                <dt>
                <h3>Receipt</h3>
                </dt>
                <dd></dd>
                {% if reimb.receipt %}
                    {% include 'include/field.html' with desc='Receipt' value='<a href="'|add:reimb.receipt.url|add:'" target="_blank">'|add:reimb.receipt.name|add:"</a>"|safe %}
                {% endif %}
                {% include 'include/field.html' with desc='Multiple hackers covered' value=reimb.multiple_hackers|yesno %}
                {% include 'include/field.html' with desc='Other hackers covered' value=reimb.friend_emails %}
                {% include 'include/field.html' with desc='Maximum assignable' value=reimb.max_assignable_money %}

                {% if reimb.is_accepted %}
                    <hr>
                    <dt>
                    <h3>Sending the monies</h3>
                    </dt>
                    <dd></dd>
                    {% include 'include/field.html' with desc='Reimbursement money' value=reimb.reimbursement_money %}
                    {% include 'include/field.html' with desc='PayPal email' value=reimb.paypal_email %}
                    {% include 'include/field.html' with desc='Venmo user' value=reimb.venmo_user %}
                {% endif %}
            </dl>
        </div>


        {% if review %}
            <div class="col-md-4 margin-left">
                <hr>
                <h4 class="text-center">Reject receipt</h4>
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ reimb.pk }}"/>
                    {% bootstrap_form reject_form %}
                    <button name="reject" class="btn btn-danger btn-block"
                            value="reject">Reject
                    </button>

                </form>
                <hr>
                <h4 class="text-center">Accept receipt</h4>
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ reimb.pk }}"/>
                    {% bootstrap_form accept_form %}
                    <button name="accept" class="btn btn-success btn-block"
                            value="accept">Accept
                    </button>
                </form>

            </div>
        {% else %}
            {% if user.is_director %}
                <div class="col-md-4 margin-left">

                    <form action="" method="post" class="form">
                        {% csrf_token %}
                        <h4>Edit reimbursement</h4>
                        {% bootstrap_form edit_form %}
                        <button name="invite" class="btn btn-success btn-block"
                                value="invite">Submit changes
                        </button>
                    </form>
                </div>
            {% endif %}
        {% endif %}



    {% else %}
        <h4 class="text-center">No receipts left to be reviewed.<br> Good job! Enjoy the
            sun outside!</h4>

    {% endif %}
    <script src="{% static 'lib/typeahead.min.js' %}"></script>
    <script src="{% static 'js/form_modifiers.js' %}"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

    <script>

        $(document).ready(function () {
                var exp_time = $('input[name="expiration_time"]');
                exp_time.daterangepicker({
                    timePicker: true,
                    singleDatePicker: true,
                    timePickerIncrement: 30,
                    startDate: moment(exp_time.val()),
                    locale: {
                        format: 'YYYY-MM-DD H:mm:ss'
                    }
                });
            }
        );
        $("#id_origin").typeahead({
            minLength: 3,
            source: function (query, process) {
                $.get('https://api.teleport.org/api/cities/', {search: query}, function (data) {
                    var cities = jQuery.map(data._embedded["city:search-results"], function (c) {
                        return c.matching_full_name;
                    });
                    return process(cities);
                });
            }
        });

    </script>

{% endblock %}

{% block out_panel %}

{% endblock %}




