{% extends "base.html" %}
{% load humanize %}
{% load bootstrap3 %}
{% load static %}
{% block head_title %}
    Review reimbursement
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block body %}
    <div class="row margin-top">
        {% bootstrap_messages %}
        {% if reimb %}

            <div class="col-md-8">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        {# We set the title as lennyface, in out efforts to anonimize the data.. Okay, maybe no #}
                        <h4 class="text-center">{{ reimb.hacker.email }}
                            {#                        <a target="_blank" style="color:black; text-decoration: none;" class="pull-right fa fa-link"#}
                            {#                           href="{% url 'app_detail' app.uuid_str %}">#}
                            {#                        </a>#}
                        </h4>
                    </div>
                    <div class="panel-body">
                        <h4 class="text-center">Personal</h4>
                        <dl class="dl-horizontal">
                            {% include 'include/field.html' with desc='Full name' value=reimb.hacker.nickname %}
                            {% include 'include/field.html' with desc='Email' value=reimb.hacker.email %}
                        </dl>
                        <h4 class="text-center">Reimbursement</h4>
                        <dl class="dl-horizontal">
                            {% include 'include/field.html' with desc='Receipt' value='<a href="'|add:reimb.receipt.url|add:'" target="_blank">'|add:reimb.receipt.url|add:"</a>"|safe %}
                            {% include 'include/field.html' with desc='Multiple hackers covered' value=reimb.multiple_hackers|yesno %}
                            {% include 'include/field.html' with desc='Other hackers covered' value=reimb.friend_emails %}
                            {% include 'include/field.html' with desc='Assigned money' value=reimb.max_assignable_money %}
                            {% include 'include/field.html' with desc='Updated' value=reimb.update_time|naturaltime %}
                            {% include 'include/field.html' with desc='Country' value=reimb.origin_country %}
                            {% include 'include/field.html' with desc='City' value=reimb.origin_city %}
                        </dl>
                        <hr>
                        <h4 class="text-center">Reject receipt</h4>
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ reimb.pk }}"/>
                            {% bootstrap_form reject_form layout="horizontal" %}
                            <button name="reject" class="btn btn-danger btn-block"
                                    value="reject">Reject
                            </button>

                        </form>
                        <hr>
                        <h4 class="text-center">Accept receipt</h4>
                        <form action="" method="post" class="form-horizontal">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ reimb.pk }}"/>
                            {% bootstrap_form accept_form layout="horizontal" %}
                            <button name="accept" class="btn btn-success btn-block"
                                    value="accept">Accept
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-md-6 col-md-offset-3">

                <div class="panel panel-success border-less">
                    <div class="panel-heading">
                        <h4 class="text-center">No receipts left to be reviewed.<br> Good job! Enjoy the
                            sun outside!</h4>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <script src="{% static 'lib/typeahead.min.js' %}"></script>
    <script src="{% static 'js/form_modifiers.js' %}"></script>
    <script>

        $(document).ready(function () {
                make_field_typeahead('origin_country', '{% static 'countries.json' %}');
            }
        )

    </script>

{% endblock %}
