{% extends "base_table.html" %}
{% block head_title %}Send reimbursements{% endblock %}

{% block table_title %}Reimbursements eligible{% endblock %}
{% block table_footer %}
    <div class="panel-footer">
        <button name="invite" class="btn btn-success btn-block"
                value="invite">Send reimbursement
        </button>
        <button name="no_reimb" class="btn btn-danger btn-block"
                value="no_reimb">Send no reimbursement
        </button>
    </div>
{% endblock %}
