{% extends "base.html" %}
{% load humanize %}
{% load django_tables2 %}
{% load bootstrap3 %}
{% load static %}
{% block head_title %}Reimbursement list {% endblock %}

{% block body %}
    <div class="row margin-top">
        <div class="col-md-12">
            <div style="text-align: center;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="text-center">Applications</h4>
                    </div>
                    <div class="panel-body">
                        {% if filter %}
                            <form action="" method="get" class="form form-inline text-left filter">
                                {% bootstrap_form filter.form size='small' %}
                                {% bootstrap_button 'Search' size='small' button_class='btn-info' %}
                            </form>
                            <hr/>
                        {% endif %}
                        {% render_table table 'django_tables2/bootstrap.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
