{% if reimbursement.waitlisted %}
    {% include 'include/waitlisted_reimbursement.html' %}
{% elif reimbursement.expired %}
    Unfortunately your travel reimbursement has expired. We sent your travel reimbursement
    {{ reimbursement.update_time|timesince }} ago but you haven't uploaded a valid ticket. Send us an email to
    {{ h_contact_email|urlize }} if you
    think this is an error.
{% elif reimbursement.has_friend_submitted %}
    <p>Your friend {{ reimbursement.friend_submission.hacker.get_full_name }}
        ({{ reimbursement.friend_submission.hacker.email }}) already uploaded a receipt that covered
        your travel. Let us know if you think this is an error.</p>
{% else %}
    <dl>
        <dt>Origin</dt>
        <dd>{{ reimbursement.origin }}</dd>

        <dt>Status</dt>
        <dd>{{ reimbursement.get_status_display }}</dd>
        {% if not reimbursement.is_draft  and not reimbursement.waitlisted %}
            <dt>Amount</dt>
            <dd>{{ reimbursement.reimbursement_money|default:reimbursement.assigned_money }}{{ h_currency }}</dd>
            {% if reimbursement.multiple_hackers %}
                <dt>Other hackers covered</dt>
                <dd>{{ reimbursement.friend_emails }}</dd>
            {% endif %}
        {% endif %}
        {% if reimbursement.can_submit_receipt %}
            <dt>Expiration countdown</dt>
            <dd>{% include 'include/deadline_countdown.html' with timeleft=reimbursement.timeleft_expiration id='expiration_reimb_count' %}</dd>
        {% endif %}
        {% if reimbursement.public_comment %}
            <dt>Reason</dt>
            <dd>{{ reimbursement.public_comment }} -
                <small>comment by {{ reimbursement.reimbursed_by.email|urlize }}</small>
            </dd>
        {% endif %}
    </dl>



    {% if reimbursement.can_submit_receipt %}
        <p><a href="{% url 'reimbursement_form' %}" target="_blank" class="btn btn-success btn-block">Submit your
            receipt</a></p>
    {% endif %}
    {% if h_r_requirements %}<p><span class="text-warning">WARNING:</span> {{ h_r_requirements }}</p>{% endif %}
{% endif %}
