{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

    <h1 style="text-align: center">{% trans "Sign In" %}</h1>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
        <p>{% blocktrans with site.name as site_name %}You can sign in with your
            existing accounts for the following service(s): {% endblocktrans %}</p>

        <div class="socialaccount_ballot">

            <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

        <p>{% blocktrans with site.name as site_name %} Or <a href="{{ signup_url }}">sign up</a>
            for a {{ site_name }} account and then sign in below. {%  endblocktrans %}</p>

    {% else %}
        <p>{% blocktrans %}If you have not created an account yet, then please
            <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
            <a class="button secondaryAction"
               href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </p>
    {% endif %}

    <form class="login form-horizontal" method="POST" action="/accounts/login/">
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="btn btn-primary btn-block" type="submit">{% trans "Sign In" %}</button>


    </form>

{% endblock %}
