{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>

    <p>Your password must have >= 8 characters and contain at least a number</p>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change form-horizontal">
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        <button type="submit" class="btn btn-primary btn-block" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
