{% extends "base_table.html" %}

{% load static %}
{% load bootstrap3 %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/baggage.css' %}">
    <script type="text/javascript" src="{% static 'js/baggage.js' %}"></script>
    <script src="{% static 'lib/typeahead.min.js' %}"></script>
    <script src="{% static 'js/form_modifiers.js' %}"></script>
{% endblock %}

{% block head_title %}Baggage check-in{% endblock %}

{% block panel %}
    <div id="baggage-container">
        <form id="baggage-search" action="" method="get" class="form text-left filter">
            {% include 'include/input.html' with type='qr' desc='Search' name='search' id='id_search' %}
            <button type="submit" class="btn btn-info">Filter</button>
        </form>
    </div>
{% endblock %}
