{% extends "base_tabs.html" %}

{% load static %}
{% load bootstrap3 %}

{% block head_title %}Baggage check-in{% endblock %}

{% block panel %}
    <dl class="dl-horizontal" style="margin-bottom: 0;">
	{% include 'include/field.html' with desc='Name' value=user.name %}
	{% include 'include/field.html' with desc='Email' value=user.email %}
    </dl>
{% endblock %}

{% block cols-panel %}col-md-6 col-md-offset-3{% endblock %}

{% block out_panel %}
    <form action="" method="post">
	{% csrf_token %}
	<div class="form-group">
	    <label class="control-label" for="bag_type">Type</label>
	    <input type="text" class="form-control" name="bag_type" />
	</div>
	<div class="form-group">
	    <label class="control-label" for="bag_color">Color</label>
	    <input type="text" class="form-control" name="bag_color" />
	</div>
	<div class="form-group">
	    <label class="control-label" for="bag_description">Description</label>
	    <textarea rows="4" cols="50" class="form-control" name="bag_description"></textarea>
	</div>
	<div class="form-group">
	    <input type="checkbox" name="bag_special" value="special"> Special
	</div>
        <input type="hidden" name="user_id" value="{{ user.id }}"/>
	<button class="btn btn-success" name="checkin">Bag check-in</button>
    </form>
{% endblock %}