{% extends "base.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/meals.css' %}">

{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'lib/instascan.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/meals_checkin.js' %}"></script>

{% endblock %}

{% block navbar %}{% endblock %}

{% block head_title %}Check-in meal {{meal.name}}{% endblock %}

{% block body_plain %}
    <a class="btn btn-block" href="{% url 'meals_list' %}">< Back</a>
    <div id="meals-scan-image" class="meals-inside-scan" style="max-width: 100%;max-height: 100%;" data-mealid="{{ meal.id }}"
    data-apiurl="{% url 'cool_meals_api' %}">
        <select class="form-control"></select>
        <video id="meals-scan-video" style="width: 100%; max-height: 80%; margin:0 auto;">   </video>
    </div>
{% endblock %}


{% block footer %}
{% endblock %}
