.idea
env/
venv/
*.swp
*.pyc
/staticfiles
fetch.sh
app/db_settings.py
db.json
*.sqlite3
client_secret.json
insert_missing.sh
check_invites.sh
app/prod_settings.py
tmp/
.vscode
*.csv

.DS_Store
__pycache__/

files/*
!files/.keep

*.log
cache/
*.sh

.google-service.account.json