#!/bin/bash
export PROD_MODE="True"
# Set up your postgres password
export PG_PWD="password"
# If using Sendgrid set api key here

./env/bin/python manage.py insert_applications
./env/bin/python manage.py expire_applications
./env/bin/python manage.py applications_reminder
