#!/bin/bash
export PROD_MODE="True"
# You can create it by running os.urandom(24) in Python
export SECRET="SECRET"
# Set up your postgres password
export PG_PWD="password"
# If using Sendgrid set api key here
export SG_KEY="API_KEY"
# Optional: Slack  token and team
export SL_TOKEN="TOKEN"
export SL_TEAM="test-team"
# Domain where running
export DOMAIN="my.hackupc.com"

./env/bin/gunicorn --workers 3 --log-file=gunicorn.log --bind unix:backend.sock app.wsgi:application
