{% extends "base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

    <h1>Sign in</h1>

    <form action="" method="post" class="form ">
        {% csrf_token %}
        {% bootstrap_form form %}

        <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
        <button class="btn btn-primary btn-block" type="submit">{% trans "Sign In" %}</button>
        {% if h_oauth_providers.mlh and h_oauth_providers.mlh.id and h_oauth_providers.mlh.auth_url %}

            <a class="btn btn-warning btn-block"
               href="{{ h_oauth_providers.mlh.auth_url }}?client_id={{ h_oauth_providers.mlh.id }}&redirect_uri={{ request.scheme }}://{{ request.get_host }}{% url 'callback' 'mlh' %}&response_type=code&scope={{ h_oauth_providers.mlh.scope }}">
                Sign in with MyMLH
            </a>
        {% endif %}
        {% if not h_app_closed %}
            <a class="btn btn-block"
               href="{% url 'account_signup' 'hacker' %}">{% trans "...or sign up if you don't have an account" %}</a>
        {% endif %}

    </form>

{% endblock %}
