{% extends "base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% block head_title %}{% trans "Change password" %}{% endblock %}

{% block content %}
    {% if validlink %}
        <h1>Change password</h1>
        <form action="" method="post" class="form form-horizontal">
            {% csrf_token %}
            {% bootstrap_form form layout="horizontal" %}
            <button class="btn btn-primary btn-block" type="submit">{% trans "Change password" %}</button>
        </form>
    {% else %}
        <h1>Invalid</h1>

        <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
        </p>
    {% endif %}


{% endblock %}
