{% extends "base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}

    {% if h_app_closed %}
        <h1>Applications are closed</h1>
        {% include 'include/applications_closed.html' %}
        <a class="btn btn-default btn-block"
           href="{% url 'account_login' %}">{% trans "Log in " %}</a>
    {% else %}
        <h1>Sign up</h1>
        {% if h_app_timeleft %}
            <p class="lead">Application deadline:{% include 'include/deadline_countdown.html' %}</p>
        {% endif %}

        <form action="" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form  %}
            <button class="btn btn-primary btn-block" type="submit">{% trans "Sign Up" %}</button>
            <a class="btn btn-block"
               href="{% url 'account_login' %}">{% trans "...or log in if you already have an account " %}</a>
        </form>
    {% endif %}

{% endblock %}
