{% extends 'base_email.html' %}
{% block preheader %} Last reminder email for {{ hackathon_name }}{% endblock %}

{% block content %}
    {% include 'include/email_line_start.html' %}
    Hi  {{ name }},
    {% include 'include/email_line_end.html' %}
    {% include 'include/email_line_start.html' %}
    We are still waiting for your answer! You have been officially accepted to {{ hackathon_name }}
    {{ hackathon_name }} but you still haven't either confirmed or canceled your spot.
    <b>You have 24h to answer, after that, your application will expire and we will give your spot to another
        hacker.</b>
    {% include 'include/email_line_end.html' %}
    {% include 'include/email_button.html' with text='Confirm' url=confirm_url %}

    {% include 'mails/include/cancel.html' %}
    {% include 'mails/include/closing.html' %}
{% endblock %}
