{% extends "base_tabs.html" %}

{% load static %}
{% load bootstrap3 %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/checkin.css' %}">
{% endblock %}

{% block head_title %}Check-in {{ app.user.name }}{% endblock %}

{% block panel %}
    <dl class="dl-horizontal">
        {% include 'include/field.html' with desc='Lenny face' value=app.lennyface %}
        {% include 'include/field.html' with desc='Name' value=app.user.name %}
        {% include 'include/field.html' with desc='Email' value=app.user.email %}
        {% include 'include/field.html' with desc='Shirt Size' value=app.tshirt_size %}
        {% include 'include/field.html' with desc='Diet' value=app.diet %}
        {% include 'include/field.html' with desc='Other' value=app.other_diet %}
        {% include 'include/field.html' with desc='Status' value=app.get_status_display %}
    </dl>
{% endblock %}

{% block cols-panel %}col-md-6 col-md-offset-3{% endblock %}

{% block out_panel %}
    <div class="panel-footer">
        {% if checkedin %}
            <div style="padding: 1em 1.5em 1.5em 1.5em;">
                <h4 style="margin-bottom: 15px;">Let's keep this up!</h4>
                <a class="btn btn-default btn-block" href="{% url 'check_in_list' %}">Check-in more hackers!</a>
            </div>
        {% else %}
            <form action="" method="post" style="padding-top: 1.5em;">
                {% csrf_token %}
                <div class="form-group">
                    {% include 'include/input.html' with type='qr' desc='QR code' name='qr_code' id='qr_code' %}
                </div>
                <input type="hidden" name="app_id" value="{{ app.uuid }}"/>
                <button class="btn btn-success btn-block" name="checkin">Check In</button>
            </form>
        {% endif %}
    </div>
{% endblock %}
