{% extends "base_tabs.html" %}
{% load static %}
{% block extra_head %}
    <script type="text/javascript" src="{% static 'webqr/llqrcode.js' %}"></script>
    <script type="text/javascript" src="{% static 'webqr/webqr.js' %}"></script>
{% endblock %}
{% block head_title %}QR scanner {% endblock %}
{% block panel %}
    <h4 class="text-center">{% block panel_title %}QR Reader{% endblock %}</h4>
    <div id="outdiv">
    </div>
    <canvas style="display: none" id="qr-canvas" width="100%" height="600"></canvas>

    <script type="text/javascript">load();</script>
    <div id="error"></div>
{% endblock %}
