{% extends 'base_email.html' %}
{% block preheader %}Password reset{% endblock %}
{% block content %}
    <p>
        To initiate the password reset process for your {{ user.get_full_name }} {{ h_name }} Account,
        click below:
    </p>

    {% include 'mails/include/email_button.html' with url=reset_url text='Reset password' %}
    <p>
        If clicking the link above doesn't work, please copy and paste the URL in a new browser
        window instead.
    </p>
    <p style="text-align: center;">{{ reset_url|urlize }}</p>

    {% include 'mails/include/closing.html' %}

{% endblock %}
