{% extends 'base_email.html' %}
{% block preheader %}Confirmation of attendance for {{ h_name }}{% endblock %}

{% block content %}
    <p>Thank you {{ name }} for confirming your attendance to {{ h_name }}!</p>
    <p>We are really excited to host this event and have you with us.</p>

    {% if not h_discord %}
      <p>In order to make registration go smoother, please show us this QR code during the process so we can easily find
          you:</p>
      {% include 'mails/include/email_image.html' with url=qr_url %}
    {% endif %}
    <p>If you are traveling from abroad and need a visa letter, email us your <b>passport number, university and full name</b> to <a href="mailto:reimbursements@hackupc.com">reimbursements@hackupc.com</a> so we can process it.</p>

    {% include 'mails/include/cancel.html' %}
    {% include 'mails/include/arrival_departure_info.html' %}
  {% include 'mails/include/closing.html' with travel="false"%}
{% endblock %}
