{% extends 'base_email.html' %}
{% block preheader %}Acceptance email for {{ h_name }}{% endblock %}

{% block content %}
      <p>Hi {{ name }}!</p>
      <p>
        First of all, thanks for applying to our mentorship program. We are glad to inform you that you have been chosen
        to be a mentor during this new {{ h_name }} edition!
      </p>
      <p>
        When the event is closer, we'll contact you again and we'll invite you to our Slack group, used for organizing
        and hackers communication
      </p>
    <p>
        Respond to this invitation by clicking on the "Confirm" link below.
    </p>
    {% include 'mails/include/email_button.html' with text='Confirm' url=confirm_url %}
    {% include 'mails/include/cancel.html' %}
    {% include 'mails/include/arrival_departure_info.html' %}
    {% include 'mails/include/closing.html' %}
{% endblock %}
