{% extends 'base_email.html' %}
{% block preheader %}Travel reimbursement award for {{ current_site.name }}{% endblock %}

{% block content %}
    {% include 'include/email_line_start.html' %}
    Congrats {{ hacker.name }}, you have been granted travel reimbursement for this edition of {{ current_site.name }}. We will
    reimburse you <b>{{ reimb.assigned_money }}{{ reimb.currency_sign }}</b> as you are coming from {{ reimb.origin_city }} ({{ reimb.origin_country }}).
    <b>You have 5 days to fill the following form and submit your tickets.</b>
    {% include 'include/email_line_end.html' %}
    {% include 'include/email_button.html' with text='Submit form' url=form_url %}
    {% include 'include/email_line_start.html' %}
    In order to receive your travel reimbursement, remember to confirm your attendance as soon as possible. Here you can
    do it:
    {% include 'include/email_line_end.html' %}
    {% include 'include/email_line_start.html' with extra_style='text-align:center;' %}
    <a href="{{ confirm_url }}">Confirm</a>
    {% include 'include/email_line_end.html' %}
    {% include 'register/mails/include/cancel.html' %}
    {% include 'register/mails/include/closing.html' %}
{% endblock %}
