{% if reimbursement.waitlisted %}
    <p>Unfortunately, we don't have enough budget to cover your travel expenses. We would like to have enough money for
        everyone but our budget is limited. We added you to our travel reimbursement wait list.
        Hope you can still make it! If you can't, please cancel your application invite.</p>
{% elif reimbursement.expired %}
    Unfortunately your travel reimbursement has expired. We sent your travel reimbursement
    {{ reimbursement.update_time|timesince }} ago but you haven't uploaded a valid ticket. Send us an email to
    {{ h_contact_email|urlize }} if you
    think this is an error.
{% elif reimbursement.friend_submission %}
    <p>Your friend {{ reimbursement.friend_submission.hacker.get_full_name }} already uploaded a receipt that covered
        your travel. Let us know if you think this is an error.</p>
{% else %}
    <dl >
        <dt>Origin</dt>
        <dd>{{ reimbursement.origin_city }} ({{ reimbursement.origin_country }})</dd>

        <dt>Status</dt>
        <dd>{{ reimbursement.get_status_display }}</dd>
        {% if not reimbursement.is_draft  and not reimbursement.waitlisted %}
            <dt>Amount</dt>
            <dd>{{ reimbursement.assigned_money }}{{ h_currency }}</dd>
        {% endif %}
        {% if reimbursement.pending_receipt %}
            <dt>Expiration countdown</dt>
            <dd>{% include 'include/deadline_countdown.html' with timeleft=reimbursement.timeleft_expiration id='expiration_reimb_count' %}</dd>
        {% endif %}
        {% if reimbursement.comment %}
            <dt>Reason</dt>
            <dd>{{ reimbursement.comment }}</dd>
        {% endif %}
    </dl>



    {% if reimbursement.pending_receipt %}
        <a href="{% url 'reimbursement_form' %}" target="_blank" class="btn btn-success btn-block">Submit your
            ticket</a>
    {% endif %}
    {% if h_r_requirements %}<p><span class="text-warning">WARNING:</span> {{ h_r_requirements }}</p>{% endif %}
{% endif %}
