{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
    {% endblock %}

    <title>{% block title %}HackUPC Registration app{% endblock %}</title>
</head>


<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">HackUPC 2017</a>
        </div>
        {% if request.user.is_authenticated %}
            <p class="navbar-text">Signed id as {{ request.user.username }}</p>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'password_change' %}">Change password</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>

            </ul>
        {% endif %}
    </div>
</nav>
<div class="content container">

    {% block body %}
    {% endblock %}
</div>
</body>
</html>