{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
    {% endblock %}

    <title>{% block title %}HackUPC Registration app{% endblock %}</title>
</head>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">HackUPC 2017</a>
    </div>
    <ul class="nav navbar-nav">
      <li {% if request.path == '/vote/' %}class="active"{% endif %}><a href="/vote">Vote Applications</a></li>
    </ul>
  </div>
</nav>
<body>
<div class="content container">

    {% block body %}
    {% endblock %}

</div>
    <div style="text-align: center;"><a href="/accounts/password/">Change my password</a></div>
    <div style="text-align: center;"><a href="/accounts/logout/">Log out</a></div>
</body>
</html>