{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <meta name="theme-color" content="#03A9B5">
    <meta name="author" content="Hackers@UPC">
    <meta property="og:title" content="My HackUPC"/>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
    <meta property="og:site_name" content="My HackUPC"/>
    <meta name="description" content="Join us for BarcelonaTech's hackathon. 500 hackers. 36h. March 3rd-5th.">
    <meta property="og:description" content="Join us for BarcelonaTech's hackathon. 500 hackers. 36h. March 3rd-5th."/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
    {% endblock %}

    <title>{% block title %}My HackUPC{% endblock %}</title>
</head>


<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">HackUPC 2017</a>
        </div>
        {% if request.user.is_authenticated %}
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <p class="navbar-text">Welcome back <b>{{ request.user.username }}</b></p>

                <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_staff %}
                        <li><a href="{% url 'admin:index' %}">Admin</a></li>
                    {% endif %}
                    <li><a href="{% url 'password_change' %}">Change password</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>

                </ul>
            </div>
        {% endif %}
    </div>
</nav>
<div class="content container">

    {% block body %}
    {% endblock %}
</div>
</body>
</html>