{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/css/main.css">
{% endblock %}

{% block body %}

    <div class="confirm-content">
        <div class="col-md-8 col-md-offset-2">
            {{ self.title }}

            {% if error %}
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Hey, {{ application.name }}!</h3>
                </div>
                <div class="panel-body">
                    {{ error }}
                </div>
            </div>

            {% else %}

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Thanks for confirming, {{ application.name }}!</h3>
                </div>
                <div class="panel-body">

                    {% if reconfirming %}
                        You already confirmed your spot before, {{ application.name }}. But we love your enthusiasm :)
                    {% else %}
                        {{ application.name }}, you just confirmed your spot at HackUPC Spring 2017!
                    {% endif %}
                    We can't wait to have you here.

                </div>
            </div>
            {% endif %}
            If you can't make it anymore, you can still cancel your participation <a href="{{ cancel }}">here</a>.
        </div>
    </div>
{% endblock %}