{% extends 'base.html' %}
{% load static %}
{% block title %}Confirm application - {% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block body %}

    <div class="confirm-content">
        <div class="col-md-8 col-md-offset-2">
            {{ self.title }}

            {% if error %}
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">We are sorry, {{ hacker.name }}</h3>
                    </div>
                    <div class="panel-body">
                        {{ error }}
                        <a href="{% url 'profile' %}" class="btn btn-default btn-block"> Back to your profile</a>

                    </div>
                    <div class="panel-footer">
                        Please contact us if you think this is an error: <a href="mailto:contact@hackupc.com">contact@hackupc.com</a>
                    </div>
                </div>

            {% else %}

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Thanks for confirming, {{ hacker.name }}!</h3>
                    </div>
                    <div class="panel-body">

                        {% if reconfirming %}
                            You already confirmed your spot before, {{ hacker.name }}. But we love your enthusiasm
                            :)
                        {% else %}
                            {{ hacker.name }}, you just confirmed your spot at HackUPC Spring 2017!
                        {% endif %}
                        We can't wait to have you here.

                        <br><br>
                        If you can't make it anymore, please cancel your participation <a
                            href="{% url 'cancel_app' %}">here</a>.
                        <a href="{% url 'profile' %}" class="btn btn-default btn-block"> Back to your profile</a>
                    </div>
                </div>

            {% endif %}
        </div>
    </div>
{% endblock %}