{% extends 'base_email.html' %}
{% load account %}
{% user_display user as user_display %}
{% block content %}
    {% include 'include/email_line_start.html' %}
    Hi {{ user_display }}from <a href="{{ current_site.domain }}" target="_blank">{{ current_site.name }}</a> ,
    {% include 'include/email_line_end.html' %}
    {% include 'include/email_line.html' with text="You're receiving this e-mail because you or someone else has requested a password for your user account in "|add:current_site.name %}
    {% include 'include/email_line.html' with text="It can be safely ignored if you did not request a password reset. Click the link below to reset your password." %}
    {% include 'include/email_button.html' with text='Reset password' url=password_reset_url %}

    {% include 'include/email_line.html' with text="Thank you for using "|add:current_site.name %}
{% endblock %}