{% load static %}

<div class="form-group {% if request.GET.search %}has-success{% endif %}">
  <label class="control-label" for="{{ id }}">{{ desc }}</label>
  {% if type == 'qr' %}
    <div>
      <i id="{{ id }}-qr" class="button-qr fa fa-qrcode fa-2x {% if request.GET.search %}button-qr-success{% endif %}"></i>
      <div class="input-qr">
        <input class="form-control" id="{{ id }}" name="{{ name }}" value="{{ request.GET.search }}" type="text">
      </div>
    </div>
    <div id="popup-scan" style="display: none;">
      <label class="control-label" for="qr-camara-select" > Select Camera</label>
      <select id="qr-camara-select" class="form-control">
        <option value="null">---</option>
      </select>
      <video id="qr-video" style="margin-top: 10px; width: 100%; border-radius: 5px"></video>
      <button id="qr-close-button" class="btn btn-block btn-info">Close</button>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", ()=>{
            function stop() {
              $('#popup-scan').hide();
              $('#veil').hide();
              scanner.stop()
            }
            $(document).on('keyup', function(e) {
              if (e.key === "Escape") stop()
            });
            const div = document.createElement('div')
            div.style = 'display: none;'
            div.className = 'veil'
            div.id = 'veil'
            div.onclick = stop

            document.body.appendChild(div)

            let scanner = new Scanner('qr-video', 'qr-camara-select', (content) => {
              $('#{{ id }}').val(content.toString())
              $('#{{ id }}').closest("form").submit();
            })
            let qrButton = document.getElementById("{{ id }}-qr");
            qrButton.onclick = function () {
              $('#popup-scan').show();
              $('#veil').show();
              scanner.start()
            }
            let closeButton = document.getElementById("qr-close-button");
            closeButton.onclick = stop
        })
    </script>
  {% else %}
    <input class="form-control" id="{{ id }}" name="{{ name }}" type="text">
  {% endif %}
</div>
