{% include 'include/email_line_start.html' %}
Have any other question? Email us at {{ email|urlize }}
{#    TODO: Check if email and fb or twitter are defined before #}
or message us on
<a href="{{ fb }}" target="_blank">Facebook</a>
and
<a href="{{ twitter }}" target="_blank">Twitter</a>.
{% include 'include/email_line_end.html' %}
{% include 'include/email_line.html' with text="See you soon in Barcelona!" %}
{% include 'include/email_line.html' with text="Best," %}
{% include 'include/email_line.html' with text="" %}
{% include 'include/email_line.html' with text=current_site.name|add:" Team" %}