{% include 'include/email_line_start.html' %}
Have any other question? Email us at {{ email|urlize }}
{#    TODO: Check if email and fb or twitter are defined before #}
{% if fb or twitter %}
    or message us on
    {% if fb %}
        <a href="https://facebook.com/{{ fb }}" target="_blank">Facebook</a>
        {% if twitter %}
            and
            <a href="https://twitter.com/{{ twitter }}" target="_blank">Twitter</a>
        {% endif %}
    {% elif twitter %}
        <a href="https://twitter.com/{{ twitter }}" target="_blank">Twitter</a>
    {% endif %}
    .
{% endif %}
{% include 'include/email_line_end.html' %}
{% include 'include/email_line.html' with text="See you soon!" %}
{% include 'include/email_line.html' with text="Best," %}
{% include 'include/email_line.html' with text="" %}
{% include 'include/email_line.html' with text=current_site.name|add:" Team" %}
