{% extends 'base_tabs.html' %}

{% load bootstrap3 %}
{% block head_title %}Application{% endblock %}

{% block panel %}


    {% if h_app_timeleft and application.can_be_edit %}
        <div class="alert alert-info">
            <p> Time until applications close: <strong
                    class="text-info">{% include 'include/deadline_countdown.html' %}</strong></p>
        </div>
    {% endif %}

    {% if application.can_be_edit %}
        <p>You can still edit your application</p>
    {% else %}
        <p>Your application has been reviewed already. Edition has been disabled to make sure all reviewers get the
            same data. If you would like to change something important email us at {{ h_contact_email|urlize }}</p>
    {% endif %}
    {% include 'include/application_form.html' %}

{% endblock %}
