{% extends 'base_tabs.html' %}
{% load static %}
{% block head_title %}Code of conduct{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block panel %}

    <h3>
        {{ h_name }} Code of Conduct: Quick Version
    </h3>
    <p>Our hackathon is dedicated to providing a harassment-free experience for everyone, regardless
        of the following.</p>
    <ul>
        <li>gender</li>
        <li>gender identity and expression</li>
        <li>age</li>
        <li>sexual orientation</li>
        <li>disability</li>
        <li>physical appearance</li>
        <li>body size</li>
        <li>race</li>
        <li>ethnicity</li>
        <li>nationality</li>
        <li>religion</li>
        <li>previous hackathon attendance or lack of</li>
        <li>computing experience or lack of</li>
        <li>chosen programming language or tech stack</li>
    </ul>
    <p>We do not tolerate harassment of hackathon participants in any form. Sexual language and
        imagery is not appropriate at any hackathon venue, this includes the following.</p>
    <ul>
        <li>hacks</li>
        <li>talks, presentations, or demos</li>
        <li>workshops</li>
        <li>any parties associated to the hackathon</li>
        <li>social media</li>
        <li>any other online media</li>
    </ul>
    <p>Hackathon participants violating these rules may be sanctioned or expelled from the hackathon
        without a refund (if applicable) at the discretion of the hackathon organisers.</p>
    <hr>
    <h3> {{ h_name }} Code of Conduct: Less Quick Version</h3>
    <p>Harassment includes offensive verbal comments related to gender, gender identity and expression,
        age, sexual orientation, disability, physical appearance, body size, race, ethnicity,
        nationality, or religion, sexual images in public spaces, deliberate intimidation, stalking,
        following, photography or audio/video recording against reasonable consent, sustained disruption
        of talks or other events, inappropriate physical contact, and unwelcome sexual attention.</p>
    <p>Photography is encouraged, but other participants must be given a reasonable chance to opt out
        from being photographed. If they object to the taking of their photograph, comply with their
        request. It is inappropriate to take photographs in contexts where people have a reasonable
        expectation of privacy (in bathrooms or where participants are sleeping).</p>
    <p>Participants asked to stop any harassing behavior are expected to comply immediately.</p>
    <p>As this is a hackathon, we like to explicitly note that the hacks created at our hackathon are
        equally subject to the anti-harassment policy.</p>
    <p>Sponsors and partners are also subject to the anti-harassment policy. In particular, sponsors
        should not use sexualised images, activities, or other material. Sponsor representatives
        (including volunteers) should not use sexualised clothing/uniforms/costumes, or otherwise create
        a sexualised environment.</p>
    <p>If you are being harassed, notice that someone else is being harassed, or have any other
        concerns, please contact a member of hackathon staff immediately.</p>
    <p>Hackathon staff will be happy to help participants contact any local security or local law
        enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for
        the duration of the hackathon. We value your attendance.
    </p>
    <p>If a participant engages in harassing behavior, the hackathon organisers may take any action they
        deem appropriate. This includes warning the offender, expulsion from the hackathon with no
        refund (if applicable), or reporting their behaviour to local law enforcement.</p>
    <p>We expect participants to follow these rules at hackathon and workshop venues and
        hackathon-related social events.</p>
    <hr>
    <p>Our code of conduct is based on the <a target="_blank" href="https://hackcodeofconduct.org">Hack Code of
        Conduct</a></p>
{% endblock %}
