{% extends 'base_tabs.html' %}

{% load bootstrap3 %}
{% block head_title %}Offers{% endblock %}

{% block panel %}
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
          {% for code in codes %}
            <img style="max-width: 250px;" alt="{{ code.offer.name }} logo" src="{{ code.offer.logo.url }}" />
            <p style="margin-top: 10px;">{{ code.offer.description | safe }}</p>
            <span style="background-color: #C2BEBE;padding: 10px 15px;font-size: 22px;display: inline-block;margin-top: 10px;margin-bottom: 1rem;">{{ code.code }}</span>
          {% endfor %}
          {% if not codes %}
            <h4 style="margin-top: 15px;">Please contact us at {{ h_contact_email | urlize }} if you believe you should have offer codes.</h4>
          {% endif %}
        </div>
    </div>

{% endblock %}
