@font-face {
    font-family: ProximaNovaRegular;
    src: url(../fonts/ProximaNovaRegular.ttf);
}

body {
    background-image: url("../img/background.png");
    background-position: center center;
    background-attachment: fixed;
    /*background: linear-gradient(#26ADB5 0%, #1DA3AD 33%, #1597A3 67%, #0E8C99 100%) no-repeat center center fixed;*/
    background-repeat: repeat repeat;
    font-family: ProximaNovaRegular, 'Roboto', sans-serif;
    font-size: 15px;
    color: #202326;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 105px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  color: black;
}

p, .p {
    color: black;
}

a {
    color: #B4C959;
    text-decoration: none;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}

a:hover, a:active, a:focus {
    color: #B4C959;
    text-decoration: none;
}

.navbar-header img {
    height: 100%;
    padding: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    padding-top: 1em;
    padding-bottom: 1em;

    width: 100%;
    /* Set the fixed height of the footer here */
    background-color: #f8f8f8;
    border-color: #e7e7e7;

    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.btn-primary {
    background: #B4C959;
    border-color: #B4C959;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background: #a3b857 !important;
    border-color: #9cb156;
}

footer p, footer small {
    color: #777;
}

footer .row {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.panel-body {
    padding: 2em;
}

.social-icons > a {
    text-decoration: none;
    padding-left: 0.5em;
    font-size: 100%;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}

nav.navbar {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table {
    margin-bottom: 0;
}

div.panel {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0;
    z-index: 3;
}

div.panel-body form {
    padding: 0 !important;
}

.confirm-content {
    margin-top: 70px
}

.content {
  margin-top: 6em;
  margin-bottom: 12.5em;
}

.margin-top {
    margin-top: 0;
    margin-bottom: 0;
}

.margin-top-adjusted {
    margin-top: 0;
    margin-bottom: 0;
}

a.icon {
    text-decoration: none;
    position: relative;
    color: black;
    font-size: 70px;
    margin-left: 5px;
    margin-right: 5px;
}

img.icon {
    height: 70px;
    width: 70px;
}



.col-centered {
    width: 380px;
    position: absolute;
    margin: 0 0 0 -190px;
    left: 50%;
}

.no-padding {
    padding: 0;
}

.orderable {
    background: url(../img/sort_both.png) no-repeat center right;
}

.orderable > a {
    color: #333;
    text-decoration: none;

}

.orderable.desc {
    background: url(../img/sort_desc.png) no-repeat center right;
}

.orderable.asc {
    background: url(../img/sort_asc.png) no-repeat center right;
}

.filter > div > label {
    padding-right: 5px;
    padding-left: 5px;
}

.required > label::after {
    content: ' *';
    color: red;
}

.alert {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0;
    text-align: center;
    font-size: 18px;

}

.alert-danger {
    background: #B4C959;
    color: #FBFBFB;
}

.alert-success {
    background: #11AFC9;
    color: #FBFBFB;
}

.alert-warning {
    background: #B4C959;
    color: #FBFBFB;
}

img {
    margin: 0 auto;
    padding: 15px;
}

@media (max-width: 768px) {
    .text-center-xs {
        text-align: center;
    }

    footer {
        text-align: center;

    }

    body {
        /* Margin bottom by footer height */
        margin-bottom: 145px;
    }

    .content {
        margin-bottom: 16em !important;
    }
}

/* cookie notice */
#cookie-notice{
    position:fixed;
    bottom:0;
    width:100%;
    padding: 0.5em 1em;
    text-align: center;
    transition: bottom 1s;
    background-color:#B4C959;
    z-index:1031; /*footer was set to 1030*/
    box-shadow: 0px 15px 15px 15px black;
    color:white;
}

#cookie-notice div{
    width: 100px;
    padding: 5px 10px;
    margin: 0.5em auto;
    background-color:#202326;
    cursor: pointer;

}

#cookies-a {
    color: #FFF;
    text-decoration: underline !important;
}

.team-info {
    color: #B4C959;
    font-size: 18px;
}

.team-info-margin {
    margin-bottom: 1.5em;
}

#popup-scan {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 600px;
    padding: 15px;
    text-align: center;
    z-index: 1500;
    background-color: white;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0;
}

#popup-scan video {
    width: 100%;
    margin: 0 auto;
}

.veil {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1250;
    background-color: rgba(30,30,30,0.9);
    cursor: pointer;
}
