body {
    background: #2B546B linear-gradient(#020913 0%, #00121E 19%, #001F3A 28%, #063651 56%, #2B546B 71%, #827C6C 100%) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    font-size: 160%;
}

nav.navbar {
    -webkit-box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.2);
    /*background-color: #494949;*/
    /*border-color: #494949;*/
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    /*background-color: #292929;*/
}

nav.navbar > a, nav.navbar > p, nav.navbar > button {
    /*color: white;*/
}

div.panel {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.confirm-content {
    margin-top: 70px
}

.margin-top {
    margin-top: 70px;
}

.margin-top-adjusted {
    margin-top: 50px;
}

.white-text {
    /*color: white !important;*/
}

.navbar-default .navbar-nav > li > a {
    /*color: white !important;*/
}

a.icon {
    text-decoration: none;
    position: relative;
    color: black;
    font-size: 70px;
    margin-left: 5px;
    margin-right: 5px;
}

img.icon {
    height: 70px;
    width: 70px;
}

.btn-block {
    margin-top: 5px;
}

.col-centered {
    width: 380px;
    position: absolute;
    margin: 0 0 0 -190px;
    left: 50%;
}

.orderable {
    background: url(../img/sort_both.png) no-repeat center right;
}
.orderable > a {
    color: #333;
    text-decoration: none;

}

.orderable.desc{
    background: url(../img/sort_desc.png) no-repeat center right;
}

.orderable.asc{
    background: url(../img/sort_asc.png) no-repeat center right;
}

.filter > div > label {
    padding-right: 5px;
    padding-left: 5px;
}
