{% if not application and user.hacker %}
    <p> You will be redirected to a new page to fill an application.
    </p>
    <a href="{% url 'apply' %}" target="_blank" class="btn btn-block btn-success">Apply here</a>
{% elif not user.hacker %}
    You can't apply yet. Fill your hacker profile before

{% elif application.is_invited or application.is_last_reminder %}
    <p>Congrats! You have been invited to come to {{ event_name }}! Please respond this invite.
        {% if invite_deadline %}It will expire in <b>{{ invite_deadline|timeuntil }}</b>{% endif %}
    </p>
    <a href="{% url 'confirm_app' %}" class="btn btn-block btn-success">Confirm</a>
    <a href="{% url 'cancel_app' %}" class="btn btn-block btn-danger">Cancel</a>
    {% include 'include/reimbursement.html' %}
{% elif application.is_expired %}
    We are sorry, your invite expired. If you think this is an error or you still want to come, please message us at
    {{ static_values.email|urlize }}. We will decide case-per-case what is the result.
{% elif application.is_cancelled %}
    We are sorry that you can't come to {{ event_name }}. We are looking forward to welcome you next edition.
    {% include 'include/subscribe_form.html' %}
{% elif application.answered_invite %}
    <p>Thanks for answering our invite! See you soon at HackUPC!</p>
    {% include 'include/cancel.html' %}
    {% include 'include/reimbursement.html' %}
{% else %}
    When decisions are released, you'll be able to see your results on this page.
    You can still edit your <a href="{% url 'profile' %}">profile</a> information.</p>
    <p> If you have any questions or concerns, you can still reach us at {{ static_values.email|urlize }}</p>
{% endif %}
