
<div>
    You are all good to go! See you soon in Barcelona!
    <h2>QR Code</h2>
    Please show the following QR code to our staff when you arrive for check-in.
    <img src="http://chart.googleapis.com/chart?cht=qr&chs=350x350&chl={{ application.id }}"/>
    {% include 'include/cancel.html' %}

    <h2>Important information</h2>

    <h3>When to arrive</h3>
    Registration opens at 3:00 pm and closes at 6:00 pm on Friday March 3rd, the opening ceremony
    will be at 7:00 pm.<br>
    {% include 'include/reimbursement.html' %}
</div>

