{% extends "base_tabs.html" %}
{% load static %}
{% block extra_head %}
	<link rel="stylesheet" href="{% static 'css/presentations.css' %}">
	<script>
		document.addEventListener("DOMContentLoaded", ()=>{
			document.getElementById("reset-btn").addEventListener("click", function(){
				localStorage.setItem("closed_presentations", "[]")
				location.reload()
			})

			var opened = JSON.parse(localStorage["closed_presentations"] || "[]")
			var btns = document.getElementsByClassName("judging-close-button")
			for(var i = 0; i < btns.length; i++)
			{
				if(opened.indexOf(btns[i].parentNode.dataset.roomName) !== -1)
				{
					$(btns[i].parentNode).hide()
				}
				btns[i].addEventListener("click", (ev)=>{
					$(ev.target.parentNode).hide(200)
					var ls = JSON.parse(localStorage["closed_presentations"] || "[]")
					ls.push(ev.target.parentNode.dataset.roomName)
					localStorage.setItem("closed_presentations", JSON.stringify(ls))
				})
			}
		})

		//TODO: get data via ajax and update the view
		setTimeout(function(){
			location.reload()
		}, 20000)
	</script>
{% endblock %}
{% block body %}
	<a href="#" id="reset-btn" >Reset</a>
	{% for room in rooms %}
		{% include 'include/room_presentations.html' %}
	{% empty %}
		<div class="empty">
			<h1>The judging didn't start yet</h1>
		</div>
	{% endfor %}
{% endblock %}