{% extends 'base_email.html' %}
{% block preheader %}Travel reimbursement update for {{ h_name }}{% endblock %}

{% block content %}
    <p> Dear {{ app.user.get_full_name }},</p>
    <p>Unfortunately, we aren’t able to offer you travel reimbursement for this edition of {{ h_name }}.
        We still hope you can join us!</p>
    <p>Please remember to <a href="{{ confirm_url }}">confirm</a> your spot if you haven't already. If your plans
        have changed, please let us know by cancelling your invite <a href="{{ cancel_url }}">here</a>.
    </p>
    {% include 'mails/include/closing.html' %}
{% endblock %}
