{% extends 'base_email.html' %}
{% block preheader %}Travel reimbursement award for {{ h_name }}{% endblock %}

{% block content %}
<p>    Congrats {{ app.user.get_full_name }}, you have been granted travel reimbursement for this edition of {{ h_name }}. We will
    reimburse you <b>up to {{ h_currency }}{{ reimb.assigned_money }}</b> (depending on the ticket you send) as you are coming from {{ reimb.origin }}.
    <b>You have {{ h_r_days }} days to submit a receipt of your tickets.</b>
</p>
    {% include 'mails/include/email_button.html' with text='Submit receipt' url=form_url %}
    {% include 'mails/include/confirm_reimbursement.html' %}
    <p>
    If you need an invite letter for your visa, send us a email to reimbursements@hackupc.com with your full name, university name and passport number, as shown in your passport or if you have any questions, don't hesitate to contact us.
    </p>
    {% include 'mails/include/closing.html' %}
{% endblock %}
