{% extends 'c3_base.html' %}

{% block head_title %}Application stats{% endblock %}
{% block panel %}
    <h1>Application stats</h1>
    <small class="pull-right"><b>Last updated:</b> <span id="update_date"></span></small>
    <div class="row">
        <div class="col-md-12">
            <div id="timeseries">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Status</h3>
            <div id="applications_stats"></div>
            <p><b>Application count:</b> <span id="app_count"></span></p>
        </div>
        <div class="col-md-6">
            <h3>Gender</h3>
            <div id="gender_stats"></div>
        </div>
    </div>
    <h2>Origin</h2>

    <div class="row">
        <div class="col-md-6">
            <h3>All</h3>
            <div id="origin_stats"></div>
        </div>
        <div class="col-md-6">
            <h3>Confirmed only</h3>
            <div id="origin_stats_confirmed"></div>
        </div>
    </div>
    <h2>T-Shirts sizes</h2>

    <div class="row">
        <div class="col-md-6">
            <h3>All</h3>
            <div id="shirts_stats"></div>
        </div>
        <div class="col-md-6">
            <h3>Confirmed only</h3>
            <div id="shirts_stats_confirmed"></div>
        </div>
    </div>
    <h2>Dietary restrictions</h2>

    <div class="row">
        <div class="col-md-6">
            <h3>All</h3>
            <div id="diet_stats"></div>
        </div>
        <div class="col-md-6">
            <h3>Confirmed only</h3>
            <div id="diet_stats_confirmed"></div>
        </div>
        <div class="col-md-12">
            <p><b>Confirmed extra diet requirements:</b><br> <span id="other_diet"></span></p>
        </div>

    </div>


{% endblock %}
{% block c3script %}
    <script>
        $.getJSON('{% url 'api_app_stats' %}', function (data) {
            c3.generate({
                bindto: '#timeseries',
                data: {
                    json: data['timeseries'],
                    keys: {
                        x: 'date',
                        value: ['applications']
                    }
                },

                axis: {
                    x: {
                        type: 'timeseries',
                        tick: {
                            format: '%Y-%m-%d'
                        }
                    }
                }
            });
            c3.generate({
                bindto: '#shirts_stats_confirmed',
                data: {
                    json: data['shirt_count_confirmed'],
                    keys: {
                        x: 'tshirt_size',
                        value: ['applications']
                    },
                    type: 'bar'

                },

                axis: {
                    x: {
                        type: 'category'
                    }
                }
            });

            var status_data = {};
            var sites = [];
            $(data['status']).each(function (c, e) {
                sites.push(e.status_name);
                status_data[e.status_name] = e.applications;
            });
            c3.generate({
                bindto: '#applications_stats',
                data: {
                    json: status_data,
                    type: 'donut'

                },
                donut: {
                    label: {
                        format: function (value, ratio, id) {
                            return value;
                        }
                    }
                }
            });
            var gender_data = {};
            var genders = [];
            $(data['gender']).each(function (c, e) {
                genders.push(e.gender_name);
                gender_data[e.gender_name] = e.applications;
            });
            c3.generate({
                bindto: '#gender_stats',
                data: {
                    json: gender_data,
                    type: 'donut'

                },
                donut: {
                    label: {
                        format: function (value, ratio, id) {
                            return value;
                        }
                    }
                }
            });
            c3.generate({
                bindto: '#shirts_stats',
                data: {
                    json: data['shirt_count'],
                    keys: {
                        x: 'tshirt_size',
                        value: ['applications']
                    },
                    type: 'bar'

                },

                axis: {
                    x: {
                        type: 'category'
                    }
                }
            });
            c3.generate({
                bindto: '#diet_stats',
                data: {
                    json: data['diet'],
                    keys: {
                        x: 'diet',
                        value: ['applications']
                    },
                    type: 'bar'

                },

                axis: {
                    x: {
                        type: 'category'
                    }
                }
            });
            c3.generate({
                bindto: '#diet_stats_confirmed',
                data: {
                    json: data['diet_confirmed'],
                    keys: {
                        x: 'diet',
                        value: ['applications']
                    },
                    type: 'bar'

                },

                axis: {
                    x: {
                        type: 'category'
                    }
                }
            });
            c3.generate({
                bindto: '#origin_stats',
                data: {
                    json: data['origin'],
                    keys: {
                        x: 'origin',
                        value: ['applications']
                    },
                    type: 'bar'

                },

                axis: {
                    x: {
                        type: 'category'
                    }
                }
            });
            c3.generate({
                bindto: '#origin_stats_confirmed',
                data: {
                    json: data['origin_confirmed'],
                    keys: {
                        x: 'origin',
                        value: ['applications']
                    },
                    type: 'bar'

                },

                axis: {
                    x: {
                        type: 'category'
                    }
                }
            });
            $('#other_diet').html(data['other_diet']);
            $('#update_date').html(data['update_time']);
            $('#app_count').html(data['app_count']);
        })
        ;

    </script>
{% endblock %}
