{% extends 'c3_base.html' %}

{% block head_title %}Users stats{% endblock %}
{% block extra_head %}
  <script>
    function copy_mails(id) {
      var copyText = document.getElementById(id);
      copyText.select();
      copyText.setSelectionRange(0, 99999); /*For mobile devices*/
      document.execCommand("copy");
    }
  </script>
{% endblock %}
{% block panel %}
    <h1>Users stats</h1>
    <small class="pull-right"><b>Last updated:</b> <span id="update_date"></span></small>
    <div class="row">
        <div class="col-md-6">
            <h3>All</h3>
            <div id="users_stats"></div>
            <p><b>Users count:</b> <span id="users_count"></span></p>
        </div>
    </div>
    {% include 'include/copy_mails.html' with emails=h_emails type_name='hacker' %}
    {% include 'include/copy_mails.html' with emails=m_emails type_name='mentor' %}
    {% include 'include/copy_mails.html' with emails=v_emails type_name='volunteer' %}
{% endblock %}
{% block c3script %}
    <script>
        $.getJSON('{% url 'api_users_stats' %}', function (data) {
            c3.generate({
                    bindto: '#users_stats',
                    data: {
                      json: data['users'],
                      type: 'bar',
                      keys: {
                        x: 'user_type',
                        value: ['Users']
                      },
                    },

                    axis: {
                      x: {
                        type: 'category'
                      }
                    }
                  });
            $('#update_date').html(data['update_time']);
            $('#users_count').html(data['users_count']);
        })
        ;

    </script>
{% endblock %}
