{% load bootstrap3 %}
{% load static %}
{% load form_utils %}
<form class="signup " enctype="multipart/form-data" id="signup_form" method="post" action="">
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    {% for fieldset in form.fieldsets %}
        <fieldset>
            <h3>{{ fieldset.name }}<br>
                {% if fieldset.description %}
                    <small>{{ fieldset.description }}</small>
                {% endif %}
            </h3>
            {% for field in fieldset %}
                {% bootstrap_field field %}
            {% endfor %}
        </fieldset>
    {% endfor %}
    {#    {% bootstrap_form form|render placeholder=False %}#}
    <button class="btn btn-primary btn-block" type="submit">Apply</button>
</form>
{% load utils %}
{% settings_value "STATIC_KEYS_TEMPLATES" as static_values %}
<p>If you have any special need you want us to know about please send us an email
    to {{ static_values.email|urlize }}</p>

<script src="{% static 'lib/typeahead.min.js' %}"></script>
<script src="{% static 'js/form_modifiers.js' %}"></script>

<script>

    $(document).ready(function () {

            make_field_typeahead('university', '{% static 'schools.json' %}');
            make_field_typeahead('degree', '{% static 'degrees.json' %}');


            var other_diet = $('#id_other_diet');
            var diet = $('#id_diet');
            conditional_field(other_diet, diet, function () {
                return diet.val() === 'Others';
            });

            var has_team = $('input[name="team"][value="True"]');
            var no_team = $('input[name="team"][value="False"]');
            var teammates = $('#id_teammates');
            conditional_field(teammates, has_team, function () {
                return has_team.prop("checked");
            });
            conditional_field(teammates, no_team, function () {
                return has_team.prop("checked");
            });

        }
    )

</script>
