{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% block title %}Check In - {% endblock %}
{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block body %}
    <div class="row margin-top">
        <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="text-center">{{ app.lennyface }}</h4>
                    </div>
                    <div class="panel-body">
                        <h4 class="text-center">
                            {% include 'include/field.html' with desc='Name' value=app.name|add:' '|add:app.lastname %}
                        </h4>
                        <h4 class="text-center">
                            {% include 'include/field.html' with desc='Email' value=app.email %}
                        </h4>

                        <dl class="dl-horizontal">

                        </dl>

                    </div>
                    <div class="panel-footer">
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="app_id" value="{{ app.id }}"/>
                            <button class="btn btn-success btn-block" name="checkin" value="checkin">Check In!</button>
                        </form>


                    </div>
                </div>
        </div>
    </div>
{% endblock %}
