{% extends 'base_email.html' %}
{% load account %}
{% user_display user as user_display %}
{% block preheader %}Reminder to finish application {% endblock %}

{% block content %}
    {% include 'include/email_line_start.html' %}
    Hey {{ name }},<br><br>
    We've seen that you completed your profile but haven't yet filled the application.
    This is just a reminder for you need to complete the application in order for us to invite you. Fill your application here:
    {% include 'include/email_line_end.html' %}
    {% include 'include/email_button.html' with text='Finish application' url=apply_url %}
    {% include 'register/mails/include/closing.html' %}
{% endblock %}
