{% extends 'base_email.html' %}
{% load account %}
{% user_display user as user_display %}
{% block preheader %}Confirmation of attendance for {{ current_site.name }}{% endblock %}

{% block content %}
    {% include 'include/email_line_start.html' %}
    Thank you {{ name }} for confirming your attendance to {{ current_site.name }} {{ edition_name }}! We are really
    excited to host this event and have you with us.
    <br><br>In order to make registration go smoother, please show us this QR code during the process so we can easily
    find
    you:
    {% include 'include/email_line_end.html' %}
    {% include 'include/email_image.html' with url=qr_url %}
    {% include 'include/email_line_start.html' %}
    If you can no longer attend, please cancel your invite here.<br><br>
    <a href="{{ cancel_url }}" style="text-align: center">Cancel</a>
    {% include 'include/email_line_end.html' %}
    {% include 'register/mails/include/closing.html' %}
{% endblock %}