{% extends 'base_email.html' %}
{% load account %}
{% user_display user as user_display %}
{% block preheader %}Acceptance email for {{ current_site.name }}{% endblock %}

{% block content %}
    {% include 'include/email_line_start.html' %}
    Congratulations {{ name }}, you have been officially invited!<br><br>
    Respond to this invitation by clicking on the "Confirm" link below.
    <b>Please confirm your spot within 5 days of receiving this email. Otherwise we will give your spot to another
        hacker on the waitlist.</b>
    {% include 'include/email_line_end.html' %}
    {% include 'include/email_button.html' with text='Confirm' url=confirm_url %}
    {% include 'register/mails/include/cancel.html' %}
    {% include 'include/email_line_end.html' %}
    {% if reimbursement %}
        {% include 'include/email_line_start.html' %}
{#        If you have been granted reimbursement you will receive a separate email with all the information in the next few hours.#}
            Unfortunately, we don't have enough budget to cover your travel expenses. We would like to have enough money for
            everyone but our budget is limited. Hope you can still make it! If you can't, please cancel your application invite.
        {% include 'include/email_line_end.html' %}
    {% endif %}
    {% include 'include/email_line_start.html' %}
    {% include 'register/mails/include/arrival_departure_info.html' %}
    {% include 'register/mails/include/closing.html' %}
{% endblock %}
