{% extends 'base_email.html' %}
{% load account %}
{% user_display user as user_display %}
{% block preheader %}Acceptance email for {{ current_site.name }}{% endblock %}

{% block content %}
    {% include 'include/email_line_start.html' %}
    Congratulations {{ name }}, you have been officially accepted to {{ curent_site.name }}️!<br>
    Respond to this invitation by clicking on the "Confirm" link below.
    <b>Please confirm your spot within 5 days of receiving this email. Otherwise we will give your spot to another
        hacker on the waitlist.</b>
    {% include 'include/email_line_end.html' %}
    {% include 'include/email_button.html' with text='Confirm' url=confirm_url %}
    {% include 'include/email_line_start.html' %}
    If you cannot make it, please let us know by clicking "Cancel". We want as many people as possible to experience the
    hackathon!<br><br>
    <a href="{{ cancel_url }}" style="text-align: center">Cancel</a>
    {% include 'include/email_line_end.html' %}
    {% if reimbursement %}
        {% include 'include/email_line_start.html' %}
        Reimbursement will be sent in a separate email.
        {% include 'include/email_line_end.html' %}
    {% endif %}
    {% include 'include/email_line_start.html' %}
    {% include 'register/mails/include/closing.html' %}
{% endblock %}