{% load bootstrap3 %}
{% load static %}
{% load form_utils %}

<style>
    #id_under_age > div, #id_tshirt_size > div, #id_graduation_year > div, #id_team > div, #id_first_timer > div,
    #id_scholarship > div, #id_reimb > div {
        display: inline-block;
        padding-right: 20px;
        margin-bottom: 0;
        margin-top: 0;
        font-weight: 400;
        vertical-align: middle;
        cursor: pointer;
    }

</style>

<form class="signup " enctype="multipart/form-data" id="signup_form" method="post" action="">
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    {% for fieldset in form.fieldsets %}
        <fieldset>
            <h3>{{ fieldset.name }}<br>
                {% if fieldset.description %}
                    <small>{{ fieldset.description }}</small>
                {% endif %}
            </h3>
            {% for field in fieldset %}
                {% bootstrap_field field %}
            {% endfor %}
        </fieldset>
    {% endfor %}
    <small><span style="color: red">*</span>Indicates required field</small>

    {% if not application or application.can_be_edit %}
        <button class="btn btn-success btn-block" type="submit">Become an ambassador</button>
    {% endif %}
</form>

<script src="{% static 'lib/typeahead.min.js' %}"></script>
<script src="{% static 'js/form_modifiers.js' %}"></script>

<script>

    $(document).ready(function () {

            make_field_typeahead('university', '{% static 'schools.json' %}');
            $("#id_origin").typeahead({
                minLength: 3,
                source: function (query, process) {
                    $.get('https://api.teleport.org/api/cities/', {search: query}, function (data) {
                        var cities = jQuery.map(data._embedded["city:search-results"], function (c) {
                            return c.matching_full_name;
                        });
                        return process(cities);
                    });
                }
            });
        }
    )

</script>
