{% load bootstrap3 %}
{% load static %}
{% load form_utils %}

<style>
    #id_under_age > div, #id_tshirt_size > div, #id_graduation_year > div, #id_team > div, #id_first_timer > div,
    #id_scholarship > div, #id_reimb > div, #id_visas > div {
        display: inline-block;
        padding-right: 20px;
        margin-bottom: 0;
        margin-top: 0;
        font-weight: 400;
        vertical-align: middle;
        cursor: pointer;
    }

</style>

<form class="signup " enctype="multipart/form-data" id="signup_form" method="post" action="">
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    {% for fieldset in form.fieldsets %}
        <fieldset>
            <h3>{{ fieldset.name }}<br>
                {% if fieldset.description %}
                    <small>{{ fieldset.description }}</small>
                {% endif %}
            </h3>
            {% for field in fieldset %}
                {% bootstrap_field field %}
            {% endfor %}
        </fieldset>
    {% endfor %}
    <small><span style="color: red">*</span>Indicates required field</small>

    {% if not application or application.can_be_edit %}
        <button id="submit" class="btn btn-success btn-block" type="submit">{% if application %}Update application{% else %}
            Submit application{% endif %}</button>
    {% endif %}
</form>

<script src="{% static 'lib/typeahead.min.js' %}"></script>
<script src="{% static 'js/form_modifiers.js' %}"></script>

<script>

    $(document).ready(function () {

            document.getElementById("submit").addEventListener("click", ga('send', 'event', 'SignUp', 'klik'));

            make_field_typeahead('university', '{% static 'schools.json' %}');
            make_field_typeahead('major', '{% static 'majors.json' %}');
            make_field_typeahead('degree', '{% static 'degrees.json' %}');
            make_field_typeahead('hear_about', '{% static 'marketing_types.json' %}', {minLength: 0});
            make_field_typeahead('country', '{% static 'countries.json' %}');
            // hack to show the autocomplete box on click
            $("#id_hear_about").on("click", function () {
                ev = $.Event("keydown");
                ev.keyCode = ev.which = 40;
                $(this).trigger(ev);
                return true;
            });
            $("#id_origin").typeahead({
                minLength: 3,
                source: function (query, process) {
                    $.get('https://api.teleport.org/api/cities/', {search: query}, function (data) {
                        var cities = jQuery.map(data._embedded["city:search-results"], function (c) {
                            return c.matching_full_name;
                        });
                        return process(cities);
                    });
                }
            });


            var other_diet = $('#id_other_diet');
            var diet = $('#id_diet');
            conditional_field(other_diet, diet, function () {
                return diet.val() === 'Others';
            });

            var has_team = $('input[name="team"][value="True"]');
            var no_team = $('input[name="team"][value="False"]');
            var teammates = $('#id_teammates');
            conditional_field(teammates, has_team, function () {
                return has_team.prop("checked");
            });
            conditional_field(teammates, no_team, function () {
                return has_team.prop("checked");
            });

            var needs_reimb = $('input[name="reimb"][value="True"]');
            var no_reimb = $('input[name="reimb"][value="False"]');
            var reimb_amout = $('#id_reimb_amount');
            conditional_field(reimb_amout, needs_reimb, function () {
                return needs_reimb.prop("checked");
            });
            conditional_field(reimb_amout, no_reimb, function () {
                return needs_reimb.prop("checked");
            });
            $('#id_reimb').parent().addClass('required');
            reimb_amout.parent().addClass('required');

            $('#id_visas').parent().addClass('required');

            var is_firsttime = $('input[name="first_timer"][value="True"]');
            var experienced = $('input[name="first_timer"][value="False"]');
            var projects = $('#id_projects');
            conditional_field(projects, is_firsttime, function () {
                return experienced.prop("checked");
            });
            conditional_field(projects, experienced, function () {
                return experienced.prop("checked");
            });
            // Making projects look like required
            projects.parent().addClass('required');

            var other_race = $('#id_other_race');
            var race = $('#id_race');
            conditional_field(other_race, race, function () {
                return race.val() === 'O';
            });
            // Making race specification look like required
            other_race.parent().addClass('required');

            var job_type = $('#id_job_type');
            var job_interest = $('#id_job_interest');
            conditional_field(job_type, job_interest, function () {
                return job_interest.val() !== 'No';
            });
            // Making job type look like required
            job_type.parent().addClass('required');

            $('#id_guardian_name').parent().addClass('required');
            $('#id_guardian_birth_day').parent().addClass('required');

            // Conditional Permission from Parent/Legal guardian
            var guardian_parent = $('#id_guardian_name').closest('fieldset');
            function calculateAge(dateString) {
                var today = new Date();
                var birthDate = new Date(dateString);
                var age = today.getFullYear() - birthDate.getFullYear();
                var m = today.getMonth() - birthDate.getMonth();
                if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
                    age--;
                }
                return age;
            }
            function showGuardianPermissions() {
                var d = new Date($('#id_birth_day').val());
                return !isNaN(d) && calculateAge(d) < 18;
            }
            $('#id_birth_day').on('blur', function () {
                if (showGuardianPermissions()) {
                    guardian_parent.fadeIn();
                } else {
                    guardian_parent.fadeOut();
                    $('#id_guardian_name').val('');
                    $('#id_guardian_birth_day').val('');
                    $("#id_guardian_code_conduct").prop('checked', false);
                    $("#id_guardian_privacy_policy").prop('checked', false);
                    $("#id_guardian_application_sharing").prop('checked', false);
                    $("#id_guardian_partners_permission").prop('checked', false);
                    $("#id_guardian_media_permission").prop('checked', false);
                }
            });
            if (!showGuardianPermissions()) {
                guardian_parent.hide()
            }
        }
    )

</script>
