{% load bootstrap3 %}
{% load static %}
{% load form_utils %}
<style>
    #id_under_age > div, #id_tshirt_size > div, #id_graduation_year > div, #id_team > div, #id_first_timer > div,
    #id_scholarship > div, #id_reimb > div {
        display: inline-block;
        padding-right: 20px;
        margin-bottom: 0;
        margin-top: 0;
        font-weight: 400;
        vertical-align: middle;
        cursor: pointer;
    }

</style>
<form class="signup " enctype="multipart/form-data" id="signup_form" method="post" action="">
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    {% for fieldset in form.fieldsets %}
        <fieldset>
            <h3>{{ fieldset.name }}<small style="color: darkgray; font-style: italic;" class="pull-right saved-string"></small><br>
                {% if fieldset.description %}
                    <small>{{ fieldset.description }}</small>
                {% endif %}
            </h3>
            {% for field in fieldset %}
                {% bootstrap_field field %}
            {% endfor %}
        </fieldset>
    {% endfor %}
    <small><span style="color: red">*</span>Indicates required field</small>
    {% if not application or application.can_be_edit %}
        <button class="btn btn-success btn-block" type="submit">{% if application %}Update application{% else %}
            Submit application{% endif %}</button>

    {% endif %}
</form>


<script src="{% static 'lib/typeahead.min.js' %}"></script>
<script src="{% static 'js/form_modifiers.js' %}"></script>

<script>

    $(document).ready(function () {

            make_field_typeahead('university', '{% static 'schools.json' %}');
            make_field_typeahead('degree', '{% static 'degrees.json' %}');
            $("#id_origin").typeahead({
                minLength: 3,
                source: function (query, process) {
                    $.get('https://api.teleport.org/api/cities/', {search: query}, function (data) {
                        var cities = jQuery.map(data._embedded["city:search-results"], function (c) {
                            return c.matching_full_name;
                        });
                        return process(cities);
                    });
                }
            });

            var other_gender = $('#id_other_gender');
            var gender = $('#id_gender');
            conditional_field(other_gender, gender, () => {
              return gender.val() === 'X';
            })

            var other_diet = $('#id_other_diet');
            var diet = $('#id_diet');
            conditional_field(other_diet, diet, function () {
                return diet.val() === 'Others';
            });

            var has_team = $('input[name="team"][value="True"]');
            var no_team = $('input[name="team"][value="False"]');
            var teammates = $('#id_teammates');
            conditional_field(teammates, has_team, function () {
                return has_team.prop("checked");
            });
            conditional_field(teammates, no_team, function () {
                return has_team.prop("checked");
            });

            var needs_reimb = $('input[name="reimb"][value="True"]');
            var no_reimb = $('input[name="reimb"][value="False"]');
            var reimb_amout = $('#id_reimb_amount');
            conditional_field(reimb_amout, needs_reimb, function () {
                return needs_reimb.prop("checked");
            });
            conditional_field(reimb_amout, no_reimb, function () {
                return needs_reimb.prop("checked");
            });
            $('#id_reimb').parent().addClass('required');
            reimb_amout.parent().addClass('required');

            var is_firsttime = $('input[name="first_timer"][value="True"]');
            var experienced = $('input[name="first_timer"][value="False"]');
            var projects = $('#id_projects');
            conditional_field(projects, is_firsttime, function () {
                return experienced.prop("checked");
            });
            conditional_field(projects, experienced, function () {
                return experienced.prop("checked");
            });
            // Making projects look like required
            projects.parent().addClass('required');

            {% if not application %}
                var timer;
                var clear_timer;
                var timeout = 5000; // Timout duration
                $('input,textarea').keyup(function () {
                    if (timer) {
                        clearTimeout(timer);
                    }
                    timer = setTimeout(saveData, timeout);

                });
                $('input[type=radio],select').change(function () {
                    if (timer) {
                        clearTimeout(timer);
                    }
                    timer = setTimeout(saveData, timeout);

                });

                // Save data
                function saveData() {
                    if (clear_timer) {
                        clearTimeout(clear_timer);
                    }
                    $('.saved-string').html('Saving...');
                    var form_obj = {};
                    var form_array = $('form').serializeArray();
                    $.each(form_array, function () {
                        if (form_obj[this.name]) {
                            if (!form_obj[this.name].push) {
                                form_obj[this.name] = [form_obj[this.name]];
                            }
                            form_obj[this.name].push(this.value || '');
                        } else {
                            form_obj[this.name] = this.value || '';
                        }
                    });


                    // AJAX request
                    $.ajax({
                        url: '{% url 'save_draft' %}',
                        type: 'post',
                        data: form_obj,
                        success: function (response) {
                            $('.saved-string').html('Saved!');
                            clear_timer = setTimeout(function () {
                                $('.saved-string').html('');
                            }, timeout)
                        }
                    });
                }
            {% endif %}
        }
    )

</script>
