{% load static %}
<style>
    #id_under_age > div, #id_tshirt_size > div, #id_graduation_year > div, #id_team > div, #id_first_timer > div,
    #id_scholarship > div, #id_reimb > div, #id_first_time_volunteer > div, #id_which_hack > div, #id_attendance > div,
    #id_english_level > div, #id_first_time_mentor > div , #id_study_work > div, #id_online > div{
        display: inline-block;
        padding-right: 20px;
        margin-bottom: 0;
        margin-top: 0;
        font-weight: 400;
        vertical-align: middle;
        cursor: pointer;
    }

</style>
<form class="signup " enctype="multipart/form-data" id="signup_form" method="post" action="">
    {% csrf_token %}
    {% include 'include/bootstrap_form.html' %}
    <div style="padding-left: 15px; padding-right: 15px">
      {% if is_hacker %}
      <p class="team-info"><i class="fa fa-exclamation-triangle"></i> <strong>Remember!</strong> Your team members still have to apply separately.</p>
      {% endif %}
      <small><span style="color: red">*</span>Indicates required field.</small>
    </div>

    {% if not application or application.can_be_edit %}
        <button class="btn btn-success btn-block" type="submit" {% if application and not application.can_be_edit %} disabled {% endif %}>{% if application %}Update application{% else %}
            Submit application{% endif %}</button>

    {% endif %}
</form>


<script src="{% static 'lib/typeahead.min.js' %}"></script>
<script src="{% static 'js/form_modifiers.js' %}"></script>
<!-- <script type="text/javascript" src=""></script> -->

<script>

    $(document).ready(function () {
        make_field_typeahead('university', '{% static 'schools.json' %}');
        make_field_typeahead('degree', '{% static 'degrees.json' %}');

        fetch('{% static 'cities.json' %}')
        .then((response) => response.json())
        .then((json) => {

            let cities_dict = {};
            $("#id_origin").typeahead({
                minLength: 3,
                source: function (query, process) {
                    // read from cities.json and check if the query matches any city
                    var matches = [];
                    // find the strings starting with the query
                    $.each(json, function (i, city) {
                        if (city.toLowerCase().indexOf(query.toLowerCase()) !== -1) {
                            matches.push(city);
                        }
                    });
                    return process(matches);
                }
            });
        });

            var other_gender = $('#id_other_gender');
            var gender = $('#id_gender');
            conditional_field(other_gender, gender, () => {
              return gender.val() === 'X';
            })

            var online = $('input[name="online"][value="True"]');
            var face_to_face = $('input[name="online"][value="False"]');

            var other_diet = $('#id_other_diet');
            var diet = $('#id_diet');
            var hardware = $('#id_hardware');
            conditional_field(hardware, online, function () {
                return face_to_face.length > 0;
            }, 1);
            conditional_field(hardware, face_to_face, function () {
                return face_to_face.length > 0;
            }, 1);
            //conditional_field(diet, online, function () {
            //    return face_to_face.length > 0;
            //}, 1);
            //conditional_field(diet, face_to_face, function () {
            //    return face_to_face.length <= 0;
            //}, 1);
            conditional_field(other_diet, online, function () {
                return face_to_face.length > 0;
            }, 1);
            conditional_field(other_diet, diet, function () {
                return diet.val() === 'Others';
            }, 1);
            var diet_notice = $('#id_diet_notice');
            conditional_field(diet_notice, diet, function () {
                return diet.val() !== 'None';
            }, 2);

            var has_team = $('input[name="team"][value="True"]');
            var no_team = $('input[name="team"][value="False"]');
            var teammates = $('#id_teammates');
            conditional_field(teammates, has_team, function () {
                return has_team.prop("checked");
            }, 1);
            conditional_field(teammates, no_team, function () {
                return has_team.prop("checked");
            }, 1);

            var needs_reimb = $('input[name="reimb"][value="True"]');
            var no_reimb = $('input[name="reimb"][value="False"]');
            var reimb_amout = $('#id_reimb_amount');
            var reimb = $('#id_reimb');
            conditional_field(reimb, online, function () {
                return face_to_face.length > 0;
            }, 1);
            conditional_field(reimb, face_to_face, function () {
                return face_to_face.length > 0;
            }, 1);
            conditional_field(reimb_amout, online, function () {
                return face_to_face.length > 0;
            }, 1);
            conditional_field(reimb_amout, needs_reimb, function () {
                return needs_reimb.prop("checked");
            }, 1);
            conditional_field(reimb_amout, no_reimb, function () {
                return needs_reimb.prop("checked");
            }, 1);
            reimb.parent().addClass('required');
            reimb_amout.parent().addClass('required');

            var is_firsttime = $('input[name="first_timer"][value="True"]');
            var experienced = $('input[name="first_timer"][value="False"]');
            var projects = $('#id_projects');
            conditional_field(projects, is_firsttime, function () {
                return experienced.prop("checked");
            }, 1);
            conditional_field(projects, experienced, function () {
                return experienced.prop("checked");
            }, 1);
            // Making projects look like required
            projects.parent().addClass('required');

            var is_firsttime_volunteer = $('input[name="first_time_volunteer"][value="False"]');
            var experienced_volunteer = $('input[name="first_time_volunteer"][value="True"]');
            var is_firsttime_mentor = $('input[name="first_time_mentor"][value="True"]');
            var experienced_mentor = $('input[name="first_time_mentor"][value="False"]')
            var which_hack = $('#id_which_hack');
            {% if form.volunteer %}
              conditional_field(which_hack, is_firsttime_volunteer, function () {
                  return is_firsttime_volunteer.prop("checked");
              });
              conditional_field(which_hack, experienced_volunteer, function () {
                  return is_firsttime_volunteer.prop("checked");
              });
            {% endif %}
            // Making projects look like required
            which_hack.parent().addClass('required');
            {% if form.mentor %}
                conditional_field(which_hack, is_firsttime_mentor, function () {
                    return is_firsttime_mentor.prop("checked");
                });
                conditional_field(which_hack, experienced_mentor, function () {
                    return is_firsttime_mentor.prop("checked");
                });
                var company_mentor = $('#id_company');
                var university_mentor = $('#id_university');
                var degree_mentor = $('#id_degree');
                var graduation_year = $('#id_graduation_year');
                var worker = $('input[name="study_work"][value="True"]');
                var student = $('input[name="study_work"][value="False"]');
                conditional_field(degree_mentor, worker, function () {
                    return worker.prop("checked");
                });
                conditional_field(degree_mentor, student, function () {
                    return worker.prop("checked");
                });
                conditional_field(university_mentor, worker, function () {
                    return worker.prop("checked");
                });
                conditional_field(university_mentor, student, function () {
                    return worker.prop("checked");
                });
                conditional_field(company_mentor, worker, function () {
                    return student.prop("checked");
                });
                conditional_field(company_mentor, student, function () {
                    return student.prop("checked");
                });
                conditional_field(graduation_year, worker, function () {
                    return worker.prop("checked");
                });
                conditional_field(graduation_year, student, function () {
                    return worker.prop("checked");
                });
                company_mentor.parent().addClass('required');
                university_mentor.parent().addClass('required');
                degree_mentor.parent().addClass('required');
                graduation_year.parent().addClass('required');
            {% endif %}
            {% if not application %}
                var timer;
                var clear_timer;
                var timeout = 5000; // Timout duration
                $('input,textarea').keyup(function () {
                    if (timer) {
                        clearTimeout(timer);
                    }
                    timer = setTimeout(saveData, timeout);

                });
                $('input[type=radio],select').change(function () {
                    if (timer) {
                        clearTimeout(timer);
                    }
                    timer = setTimeout(saveData, timeout);

                });

                // Save data
                function saveData() {
                    if (clear_timer) {
                        clearTimeout(clear_timer);
                    }
                    $('.saved-string').html('Saving...');
                    var form_obj = {};
                    var form_array = $('form').serializeArray();
                    $.each(form_array, function () {
                        if (form_obj[this.name]) {
                            if (!form_obj[this.name].push) {
                                form_obj[this.name] = [form_obj[this.name]];
                            }
                            form_obj[this.name].push(this.value || '');
                        } else {
                            form_obj[this.name] = this.value || '';
                        }
                    });


                    // AJAX request
                    $.ajax({
                        url: '{% url 'save_draft' %}',
                        type: 'post',
                        data: form_obj,
                        success: function (response) {
                            $('.saved-string').html('Saved!');
                            clear_timer = setTimeout(function () {
                                $('.saved-string').html('');
                            }, timeout)
                        }
                    });
                }
            {% endif %}
        }
    )

</script>
