.veil{
    background-color:transparent;
    transition:background-color 200ms;
}
.hw-centered{
    text-align:center;
}

.hw-button{
    border:thin solid black;
    cursor:pointer;
}

.hw-back{
    position:absolute;
    right:0;
    margin:-15px 40px;
    cursor:pointer;
}

.hw-help-color-bg{
    background-color:#333;
    border-radius:3px;
    padding:2px;
    font-weight:bold;
}
.hw-available-color{
    color: #5cdd5c;
}
.hw-request-color{
    color: #ffae6b;
}
.hw-borrowing-color{
    color: #ff6b6b;
}

#hw-container{
    margin:0 20px;
}

/*Typeahead*/
.tt-menu{
    background-color:white;
    border:thin solid black;
}
/*Popup QR scanner*/
.qr-btn{
    vertical-align: middle;
    padding: 6px 8px 4px;
    border: thin solid #ddd;
    margin: 5px;
    cursor: pointer;
}
.hw-popup-scan{
    position:absolute;
    top:50px;
    left:50%;
    transform:translateX(-50%);
    width:90%;
    max-width:600px;
    padding:15px;
    border:3px solid #333;
    text-align: center;
    /*navbar is 1030*/
    z-index:1032;
    background-color:white;
}
.hw-popup-scan video{
    width:100%;
    margin:0 auto;
}
.veil{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1031;
    background-color:rgba(30,30,30,0.9);
}
/*
    Hardware list (user)
*/
#hw-list{
    display:flex;
    flex-wrap:wrap;
}
.hw-item{
    position:relative;
    flex: 1 1 500px;
    height:200px;
    margin:20px;
    background-size:cover;
    background-position: center;
    overflow:hidden;
    border: thin solid #333;
}
.hw-item .hw-bg{
    background: linear-gradient(transparent, #6b6b6b);
}

.hw-help{
    height:0;
    margin:20px;
    overflow:hidden;
    transition:height 300ms;
}

.hw-help.open{
    height:700px;
}

/* Toggle button */
.hw-toggle{
    cursor:pointer;
}
.hw-toggle span{
    display:inline-block;
    transform:rotate(0);
    transition-property: transform;
    transition-duration: 200ms;
}
.hw-toggle.open span{
    transform:rotate(45deg);
}
.hw-toggle-help{
    position:absolute;
    top:65px;
    right:60px;
}

.hw-toggle.hw-item-desc{
    position:absolute;
    right:20px;
    top:10px;
    z-index:2;
    color:#333;
    transition-property: color;
    transition-duration: 200ms;
}
.hw-toggle.hw-item-desc.open{
    color:#ddd;
}


/* /Toggle button */

/* Item stats */
.hw-stats{
    position:absolute;
    bottom:20px;
    width:25px;
    padding:4px 0;
    text-align:center;
    background-color:#333;
    color:#ddd;
    border-radius:5px;
    overflow:hidden;
    cursor:default;
    transition: width 200ms;
}
.hw-stats:hover{
    width:105px;
}
.hw-stats > div{
    display:flex;
}
.hw-stats > div > div{
    flex: 0 0 auto;
}
.hw-stats div .num{
    width:25px;
    font-weight:bold;
}

/* /Item stats */

.hw-item .hw-description{
    height:0;
    padding:0;
    background-color:#333;
    color:#aaa;
    overflow:hidden;
    transition-property:height, padding;
    transition-duration:200ms;
}

.hw-item .hw-description.open{
    height:200px;
    padding:30px 15px 0;
}

.hw-item .hw-title{
    position:relative;
    padding: 15px;
    height: 200px;
}

.hw-item .hw-title h1{
    margin:0;
    color:white;
    text-shadow:1px 1px black;
}

.hw-req-btn{
    position:absolute;
    width:130px;
    right:20px;
    bottom: 20px;
    background-color:transparent;
    border: 5px solid white;
    padding: 5px 20px;
    color:white;
    font-weight: bold;
    font-size: 18px;
}

.hw-req-btn[disabled], .hw-req-btn.active{
    background-color:white;
    color: black;
}


/*
    Hardware Admin
*/
.hw-separator{
    display:flex;
    font-weight:bold;
    margin:20px 0;
    font-size:20px;
}
.hw-separator::before, .hw-separator::after{
    content: ' ';
    display:block;
    flex: 1 1 auto;
    height:1px;
    margin:14px;
    background-color:#aaa;
}

.hw-subtitle{
    text-align:center;
    color: #aaa;
    font-size:13px;
    margin: -25px 0 15px;
}

.hw-item-compact{
    display:flex;
    align-items:center;
    padding:10px;
    flex:1 1 330px;
    /* overlap inner border */
    margin:-0.5px;
}

.hw-item-compact h3{
    flex: 1 1 auto;
    margin:0;
}
.hw-item-unavailable{
    opacity:0.5;
    cursor:not-allowed;
}

#hw-type-noreq{
    display:flex;
    flex-wrap:wrap;
}

.hw-quantity{
    display:flex;
    width:65px;
    padding: 0 5px;
    border-radius:3px;
    text-align:center;
    background-color: #333;
    color:white;
}
.hw-quantity span{
    flex: 1 1 auto;
}
.hw-quantity span:nth-child(odd){
    font-weight:bold;
}
.hw-quantity span:nth-child(1){
    color: #5cdd5c;
}
.hw-quantity span:nth-child(3){
    color: #ffae6b;
}
.hw-quantity span:nth-child(5){
    color: #ff6b6b;
}

#hw-admin-borrowing h3{
    color:#aaa;
}

#hw-available-items-list li,
#hw-available-items-list-noreq li{
    padding:10px;
}

#hw-available-items-list span,
#hw-available-items-list-noreq span{
    font-weight:bold;
    font-size:24px;
}

#hw-user-lists ul li{
    padding:10px;
}

#hw-user-lists ul h1{
    font-size:28px;
}