{% load bootstrap3 %}

{% if not application and h_app_closed %}
    {% include 'include/applications_closed.html' %}

{% elif not application %}
    {% if h_app_timeleft %}
        <h4>Time until applications close: {% include 'include/deadline_countdown.html' %}</h4>
    {% endif %}
    <p>You will still be able to edit until your information has been reviewed.</p>
{% elif application.is_expired %}
    We are sorry, your invite expired. If you think this is an error or you still want to come, please message us at
    {{ h_contact_email|urlize }}. We will decide case-per-case what is the result.
{% elif application.is_cancelled %}
    We are sorry that you can't come to {{ event_name }}. We are looking forward to welcome you next edition.
{% elif application.answered_invite %}
    <p>Thanks for answering our invite! See you soon at {{ h_name }}!</p>
{% else %}
    Thanks for completing the application.

    {% if application.can_be_edit %}
        You can still edit it.

    {% else %}
        You can't edit your application any more as it has been reviewed already once or the deadline is over.
    {% endif %}
{% endif %}
{% include 'include/application_form.html' %}
