{% if compact %}
<h3>{{ item_type.name }}</h3>
<div class="hw-quantity">
    <span class='hw-available-color'>{{ item_type.get_available_count }}</span>
    <span>/</span> 
    <span class='hw-request-color'>{{ item_type.get_requested_count }}</span>
    <span>/</span>
    <span class='hw-borrowing-color'>{{ item_type.get_borrowed_count }}</span>
</div>
{% else %}
<div class='hw-bg'>
    <div class='hw-toggle hw-item-desc'>
        <span>+</span> info
    </div>
    <div class='hw-description hw-toggle-actor'>
        {{ item_type.description }}
    </div>
    <div class='hw-title'>
        <h1>{{ item_type.name }}</h1>
        <div class="hw-stats">
            <div><div class='num hw-available-color'>{{ item_type.get_available_count }}</div> <div>Available</div></div>
            <div><div class='num hw-request-color'>{{ item_type.get_requested_count }}</div> <div>Requested</div></div>
            <div><div class='num hw-borrowing-color'>{{ item_type.get_borrowed_count }}</div> <div>Borrowed</div></div>
        </div>
        {% if item_type.id in requests %}
            <button class='hw-req-btn' data-item-id='{{ item_type.id }}' disabled data-target-time='{{requests|get_item:item_type.id}}'></button>
        {% elif item_type.get_available_count == 0 %}
            <button class='hw-req-btn' data-action='lmk' data-item-id='{{ item_type.id }}'>LMK</button>
        {% else %}
            <button class='hw-req-btn' data-action='request' data-item-id='{{ item_type.id }}'>REQUEST</button>
        {% endif %}
    </div>
</div>
{% endif %}