{% extends "base_tabs.html" %}
{% load humanize %}
{% load bootstrap3 %}
{% load static %}
{% block head_title %}{% if vote %}Review applications{% else %}{{ app.user.name }}'s application{% endif %}
{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'lib/bars-square.css' %}">
    <link rel="stylesheet" href="{% static 'css/vote.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block panel %}
    {% if app %}
        <div class="col-md-8 margin-right">
            <h2>{% if vote %}Review applications{% else %}{{ app.user.name }}'s application{% endif %}</h2>
            <a target="_blank" style="color:black; text-decoration: none;" class="pull-right fa fa-link"
               href="{% url 'app_detail' app.uuid_str %}">
            </a>

            <dl class="dl-horizontal">
                <dt>
                <h3>Personal</h3>
                </dt>
                <dd></dd>
                {% include 'include/field.html' with desc='Votes' value=app.vote_set.count %}
                {% include 'include/field.html' with desc='Lenny face' value=app.lennyface %}
                {% include 'include/field.html' with desc='Name' value=app.user.name %}
                {% include 'include/field.html' with desc='Submitted' value=app.submission_date|naturaltime %}
                {% include 'include/field.html' with desc='Country' value=app.origin_country %}
                {% include 'include/field.html' with desc='Online?' value=app.online|yesno:'Yes,No,Maybe' %}
                {% if not vote %}
                    {% include 'include/field.html' with desc='Status' value=app.get_status_display %}
                    {% include 'include/field.html' with desc='Email' value=app.user.email %}
                    {% include 'include/field.html' with desc='Travel reimbursement?' value=app.reimb|yesno:'Yes,No,Maybe' %}
                    {% include 'include/field.html' with desc='Money needed' value=app.reimb_amount %}
                  {% include 'include/field.html' with desc='Origin' value=app.origin %}
                {% endif %}
                {% include 'include/field.html' with desc='Under age (-18)' value=app.under_age|yesno:'Yes,No,Maybe' %}
                {% if app.resume %}
                    <dt>Resume</dt>
                    <dd><a href="{% url 'app_resume' app.uuid %}" target="_blank">{{ app.resume.name }}</a></dd>

                {% endif %}
                <hr>
                <dt>
                <h3>Academic</h3>
                </dt>
                <dd></dd>
                {% include 'include/field.html' with desc='University' value=app.university %}
                {% include 'include/field.html' with desc='Graduation' value=app.graduation_year %}
                {% include 'include/field.html' with desc='Degree' value=app.degree %}
                <hr>
                <dt>
                <h3>Background</h3>
                </dt>
                <dd></dd>
                {% include 'include/field.html' with desc='First time' value=app.first_timer|yesno:'Yes,No,Maybe' %}
                {% include 'include/field.html' with desc='Why excited?' showlength="true" value=app.description %}
                {% include 'include/field.html' with desc='Projects' showlength="true" value=app.projects %}
                {% include 'include/field.html' with desc='Team mates' value=app.teammates %}
                {% include 'include/field.html' with desc='Excited about' value=app.excited %}
                {% if request.user.has_dubious_access  and app.is_dubious %}
                    <hr>
                    <dt>
                    <h3>Dubious info</h3>
                    </dt>
                    <dd></dd>
                    {% include 'include/field.html' with desc='Contacted' value=app.contacted|yesno:'Yes,No,Maybe' %}
                    {% include 'include/field.html' with desc='Contacted by' value=app.contacted_by %}
                {% endif %}
            </dl>
            {% if not vote and teammates %}
                <h3>Teammates</h3>
                <ul>
                    {% for mate in teammates %}
                        <li>
                            {% if mate.app_uuid_str %}<a href="{% url 'app_detail' mate.app_uuid_str %}">{% endif %}
                            {% if mate.is_me %}<span style="font-style: italic;">{% endif %}

                            {{ mate.user__name }} ({{ mate.user__email }})

                            {% if mate.is_me %}</span>{% endif %}
                            {% if mate.app_uuid_str %}</a>{% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if app.github or app.linkedin or app.site or app.devpost %}
                <h4 class="text-center">Social</h4>

                <p class="text-center">
                    {% if app.github %}
                        <a title="GitHub Link" target="_blank" href="{{ app.github }}" class="icon fa fa-github"></a>
                    {% endif %}
                    {% if app.linkedin %}
                        <a title="LinkedIn Link" target="_blank" href="{{ app.linkedin }}" class="icon fa fa-linkedin"></a>
                    {% endif %}
                    {% if app.site %}
                        <a title="Personal Site Link" target="_blank" href="{{ app.site }}" class="icon fa fa-globe"></a>
                    {% endif %}
                    {% if app.devpost %}
                        <a title="Devpost Link" target="_blank" href="{{ app.devpost }}" class="icon">
                            <img alt="devpost logo" class="icon" src="{% static 'img/devpost.svg' %}"/>
                        </a>
                    {% endif %}
                </p>
            {% endif %}

        </div>


        <div class="col-md-4 margin-left">
            <h3>Comments</h3>
            <hr>
            {% for comment in comments %}
                <h4>{{ comment.text }}</h4>

                <p style="color:gray;">by <span title="{{ comment.author.get_full_name }}">{{ comment.author.email }}</span>
                    <small class="pull-right">{{ comment.created_at|timesince }} ago</small>
                </p>
                <hr>
            {% endfor %}
            <form action="" method="post" id="commentsForm">
                {% csrf_token %}
                <input type="hidden" name="app_id" value="{{ app.pk }}"/>
                <textarea id="commentSection" name="comment_text" class="form-control" placeholder="Write a comment..." rows="3" required maxlength="500"></textarea>
                <input type="hidden" name="add_comment" value="comment">
                <button id="submitCommentButton" type="submit" class="btn btn-block btn-default">Add comment
                </button>
            </form>
            <script>
                // JS script to allow submitting comments via pressing Ctrl+Enter
                var formToFocusOn = document.getElementById("commentSection");
                // Do something when a key is pressed down inside the textarea
                formToFocusOn.addEventListener("keydown", function(event) {
                    //
                    // When CTRl && Enter Key (value 13)
                    // See list of number key values:
                    // https://www.freecodecamp.org/news/javascript-keycode-list-keypress-event-key-codes/#a-full-list-of-key-event-values
                    //
                    if (event.ctrlKey && event.keyCode === 13) {
                    // submit the form
                    $('#submitCommentButton').click();
                    // document.getElementById('commentsForm').submit();
                    }
                });
            </script>
            </div>



    {% else %}
        <h4 class="text-center">No applications left to be voted.<br> Good job! Enjoy the
            sun outside!</h4>

    {% endif %}
    {% if vote %}
        <script src="{% static 'lib/barrating.min.js' %}"></script>
        <script type="text/javascript">
            $(function () {
                $('.barrating').barrating({
                    theme: 'bars-square',
                    showValues: true,
                    showSelectedRating: false
                });
            });
        </script>
    {% endif %}
{% endblock %}

{% block out_panel %}
    {% if vote and app %}
        <div class="panel-body" style="padding: 0px">

            <form action="" method="post">
                {% csrf_token %}
                <div class="col-md-8">
                    <input type="hidden" name="app_id" value="{{ app.pk }}"/>
                    <h4 class="text-center">Score</h4>
                    <dl class="dl-horizontal">
                        <dt>Technical Skills</dt>
                        <dd>{% include 'include/number10.html' with name='tech_rat' %}</dd>
                        <dt>Personal Skills</dt>
                        <dd>{% include 'include/number10.html' with name='pers_rat' %}</dd>
                    </dl>
                </div>
                <button name="send" class="btn btn-success btn-block" value="send">Send vote</button>
                <button name="skip" class="btn btn-default btn-block" value="skip">Skip
                    application
                </button>
                {% if h_dubious_enabled %}
                    <button name="set_dubious" class="btn btn-warning btn-block" value="set_dubious"
                            onclick="return confirm('Are you sure you want set this application as Dubious?')">
                        Dubious Application
                    </button>
                {% endif %}
                {% if h_blacklist_enabled %}
                    <button name="set_blacklist" class="btn btn-danger btn-block" value="set_blacklist"
                            onclick="return confirm('Are you sure you want set this application as Blacklist?')">
                        Blacklist Application
                    </button>
                {% endif %}

            </form>
        </div>
      {% elif app and user.is_director %}
        <div class="panel-footer">

            {% if app.is_blacklisted %}
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="app_id" value="{{ app.pk }}"/>
                    <textarea name="motive_of_ban" class="form-control" placeholder="Write the motive of ban..."
                                rows="3"
                                required></textarea>
                    <button name="confirm_blacklist" class="btn btn-danger btn-block" value="confirm_blacklist">
                        Confirm the application as blacklisted
                    </button>
                </form>
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="app_id" value="{{ app.pk }}"/>
                    <button name="unset_blacklist" class="btn btn-success btn-block" value="unset_blacklist">Mark as not
                        blacklisted
                    </button>
                </form>
            {% else %}
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="app_id" value="{{ app.pk }}"/>
                    {% if  app.is_pending %}
                        <button name="waitlist" class="btn btn-danger btn-block" value="waitlist">
                            Wait list
                        </button>
                        {% if h_dubious_enabled %}
                            <button name="set_dubious" class="btn btn-warning btn-block" value="set_dubious"
                                    onclick="return confirm('Are you sure you want set this application as Dubious?')">
                                Dubious Application
                            </button>
                        {% endif %}
                        {% if h_blacklist_enabled %}
                            <button name="set_blacklist" class="btn btn-warning btn-block" value="set_blacklist"
                                    onclick="return confirm('Are you sure you want set this application as Blacklist?')">
                                Blacklist Application
                            </button>
                        {% endif %}
                    {% endif %}
                    {% if app.can_be_invited %}
                        <button name="invite" class="btn btn-success btn-block" value="invite">Send invite
                        </button>
                    {% endif %}
                    {% if app.can_be_cancelled %}
                        <button name="confirm" class="btn btn-info btn-block" value="confirm">Confirm & send
                            ticket
                        </button>
                        {% if slack_enabled %}
                            <button name="slack" class="btn btn-default btn-block" value="slack">Send slack
                                invite
                            </button>
                        {% endif %}
                        <button name="cancel" class="btn btn-danger btn-block" value="cancel">Cancel
                        </button>
                    {% endif %}

                    {% if app.is_dubious and app.contacted and app.contacted_by == request.user %}
                        <button name="unset_dubious" class="btn btn-success btn-block" value="unset_dubious">Mark as not
                            dubious
                        </button>
                        <button name="invalidate" class="btn btn-danger btn-block" value="invalidate">Mark as invalid
                        </button>
                    {% elif app.is_dubious and app.contacted %}
                        <button name="invalidate" class="btn btn-default btn-block" disabled value="invalidate">Application
                            under review by {{ app.contacted_by }}
                        </button>
                    {% elif not app.contacted and app.is_dubious %}
                        <button name="contact_user" class="btn btn-success btn-block" value="contact_user">Mark as contacted
                        </button>
                    {% endif %}
                </form>
            {% endif %}
        </div>
    {% elif app and app.is_dubious and user.can_review_dubious and not user.is_director and h_dubious_enabled %}
        <div class="panel-footer">

            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="app_id" value="{{ app.pk }}"/>

                {% if app.is_dubious and app.contacted and app.contacted_by == request.user %}
                    <button name="unset_dubious" class="btn btn-success btn-block" value="unset_dubious">Mark as not
                        dubious
                    </button>
                    <button name="invalidate" class="btn btn-danger btn-block" value="invalidate">Mark as invalid
                    </button>
                {% elif app.is_dubious and app.contacted %}
                    <button name="invalidate" class="btn btn-default btn-block" disabled value="invalidate">Application
                        under review by {{ app.contacted_by }}
                    </button>
                {% elif not app.contacted and app.is_dubious %}
                    <button name="contact_user" class="btn btn-success btn-block" value="contact_user">Mark as contacted
                    </button>
                {% endif %}

            </form>
        </div>
    {% elif app and app.is_blacklisted and user.can_review_blacklist and not user.is_director and h_blacklist_enabled %}
        <div class="panel-footer">

            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="app_id" value="{{ app.pk }}"/>
                <textarea name="motive_of_ban" class="form-control" placeholder="Write the motive of ban..."
                            rows="3"
                            required></textarea>
                <button name="confirm_blacklist" class="btn btn-danger btn-block" value="confirm_blacklist">
                    Confirm the application as blacklisted
                </button>
            </form>
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="app_id" value="{{ app.pk }}"/>
                <button name="unset_blacklist" class="btn btn-success btn-block" value="unset_blacklist">Mark as not
                    blacklisted
                </button>
            </form>
        </div>
    {% endif %}
{% endblock %}
