{% extends "base_table.html" %}

{% block head_title %}Invite {% if teams %}teams{% else %}applications{% endif %} {% endblock %}


{% block table_title %}Invite {% if teams %}teams{% else %}applications{% endif %}{% endblock %}


{% block table_footer %}
    <div class="panel-footer">
        <button name="invite" class="btn btn-success btn-block"
                value="invite">Invite
        </button>
        {% if teams %}
            <a href="{% url 'invite_list' %}" class="btn btn-info btn-block">View applications</a>
        {% elif h_team_enabled %}
            <a href="{% url 'invite_teams_list' %}" class="btn btn-info btn-block">Group by teams</a>
        {% endif %}
        <a href="{% url 'app_list' %}" class="btn btn-default btn-block">< Back</a>

    </div>
{% endblock %}
