{% extends "base_tabs.html" %}
{% load static %}
{% block head_title %}Review resume{% endblock %}
{% block panel %}
    {% if app %}
        <div>
            <h2>Review resume</h2>
            <div class="container-iframe">
               <iframe id="iframe" class="responsive-iframe" src="{{ app.resume.url }}"></iframe>
            </div>
            <form method="post" style="margin-top: 20px">
                {% csrf_token %}
                <input name="app_id" value="{{ app.pk }}" type="hidden">
                <div class="col-lg-6"><button class="btn btn-block btn-success" type="submit" name="accepted" value="true">Accept resume</button></div>
                <div class="col-lg-6"><button class="btn btn-block btn-danger" type="submit" name="accepted" value="false">Reject resume</button></div>
            </form>
        </div>




    {% else %}
        <h4 class="text-center">No resumes left to be voted.<br> Good job! Enjoy the sun outside!</h4>
        <p>Remember to wait 6 days after the last batch of invitations as only resumes from applications in status CONFIRMED and ATTENDED will be downloaded.</p>
        <a class="btn btn-block btn-success" href="?files=true">Download resumes</a>

    {% endif %}

{% endblock %}
{% block extra_scripts %}
  <script>
      {% if app %}
          $(document).ready(function () {
              if (detectMob()) {
                $('#iframe').remove()
                $('.container-iframe').append('<a href="{% url 'app_resume' app.uuid %}" target="_blank" class="btn btn-block btn-default">Open Resume</a>')
              }
          });
      {% endif %}
      function detectMob() {
          const toMatch = [
              /Android/i,
              /webOS/i,
              /iPhone/i,
              /iPad/i,
              /iPod/i,
              /BlackBerry/i,
              /Windows Phone/i
          ];

          return toMatch.some((toMatchItem) => {
              return navigator.userAgent.match(toMatchItem);
          });
      }
  </script>
{% endblock %}
