<p class="lead"> Your application status:
    <span class="text-{% if application.is_cancelled %}danger{% elif application.answered_invite %}success{% else %}warning{% endif %}">{{ application.get_soft_status_display }}</span>
</p>


{% if application.is_cancelled %}
    We are sorry that you can't come to {{ h_name }}. We are looking forward to welcome you next edition.
{% elif application.answered_invite %}
    <div>
        You are all good to go! See you soon!
        <h2>QR Code</h2>
        Please show the following QR code to our staff when you arrive for check-in.
        <img src="http://chart.googleapis.com/chart?cht=qr&chs=350x350&chl={{ application.uuid_str }}"/>
        {% include 'include/cancel.html' %}

        {% if h_arrive or h_leave %}
            <h2>Important information</h2>
        {% endif %}

        {% if h_arrive %}
            <h3>When to arrive</h3>
            {{ h_arrive }}
        {% endif %}
        {% if h_leave %}
            <h3>When to leave</h3>
            {{ h_leave }}<br>
        {% endif %}
        {% include 'include/reimbursement.html' %}
    </div>
{% elif application.is_invited or application.is_last_reminder %}
    <p>Congrats! You have been invited to come to {{ h_name }}! Please respond this invite.</p>
    {% if invite_timeleft %}
        <p>It will expire in
            {% include 'include/deadline_countdown.html' with timeleft=invite_timeleft %}
        </p>
    {% endif %}
    <a href="{% url 'confirm_app' application.uuid_str %}" class="btn btn-block btn-success">Confirm</a>
    <a href="{% url 'cancel_app' application.uuid_str %}" class="btn btn-block btn-danger">Cancel</a>
    {% include 'include/reimbursement.html' %}
{% else %}
    <p> When decisions are released, you'll be able to see your results on this page.<br>
        If you have any questions or concerns, you can still reach us at {{ h_contact_email }}<br>
        {% if application.can_be_edit %}
            Edit your application <a href="?phase=application">here</a></p>
        {% endif %}
{% endif %}


