{% load bootstrap3 %}

{% if not application and h_app_closed %}
    {% include 'include/applications_closed.html' %}

{% elif not application %}
    {% if h_app_timeleft %}
        <div class="alert alert-info">
            <p class="lead"> Time until applications close: <strong
                    class="text-info">{% include 'include/deadline_countdown.html' %}</strong></p>
        </div>
    {% endif %}

{% elif application.is_expired %}
    <div class="alert alert-warning">

        <p class="lead"> We are sorry, your invite expired. If you think this is an error or you still want to come,
            please
            message us at
            {{ h_contact_email|urlize }}. We will decide case-per-case what is the result.</p>
    </div>
{% elif application.is_cancelled %}
    <div class="alert alert-info">
        <p class="lead">We are sorry that you can't come to {{ h_name }}. We are looking forward to welcome you next
            edition.</p>
    </div>
{% elif application.answered_invite %}
    <div class="alert alert-success">
        <p class="lead">Thanks for answering our invite! See you soon at {{ h_name }}!</p>
    </div>
{% else %}
    <div class="alert alert-success">
        <p class="lead">Thanks for completing the application. Processing your application will take some time, so
            please be patient.</p>
    </div>
    {% if not application.can_be_edit %}
        <div class="alert alert-info">
            <p class="lead">You can't edit your application any more as it has been reviewed already once or the
                deadline is over.</p>
        </div>
    {% endif %}
{% endif %}
{% include 'include/application_form.html' %}
