{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% if h_theme_color %}
        <meta name="theme-color" content="{{ h_theme_color }}">
    {% endif %}
    <meta name="author" content="{{ h_name }}">
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/png">
    <meta name="description" content="{{ h_description }}">


    <!--FACEBOOK DESCRIPTION -->
    <meta property="og:title" content="{{ h_app_name }}"/>
    <meta property="og:site_name" content="{{ h_app_name }}"/>
    <meta property="og:description" content="{{ h_description }}"/>
    {% if h_og_image %}
        <meta property="og:image" content="{{ h_og_image }}">
        <meta property="og:image:secure_url" content="{{ h_og_image }}">
    {% endif %}
    <meta property="og:url" content="https://{{ h_domain }}/">

    <!--TWITTER DESCRIPTION -->
    <meta name="twitter:card" content="summary">
    {% if h_tw %}
        <meta name="twitter:site" content="@{{ h_tw }}">
        <meta name="twitter:creator" content="@{{ h_tw }}">
    {% endif %}
    <meta name="twitter:title" content="{{ h_app_name }}">
    <meta name="twitter:description" content="{{ h_description }}">
    {% if h_og_image %}
        <meta name="twitter:image" content="{{ h_og_image }}">
    {% endif %}


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    {% block head %}
    {% endblock %}

    <title>{% block title %}{% block head_title %}{% endblock %} | {% endblock %}{{ h_app_name }}</title>
</head>


<body>
{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand white-text" href="/">{{ h_app_name }}</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav navbar-right ">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_admin %}
                            <li class="{% if request.resolver_match.url_name == "admin:index" %}active{% endif %}"><a
                                    href="{% url 'admin:index' %}">Admin</a></li>
                        {% endif %}
                        {% if request.user.is_organizer %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">Applications <span
                                        class="caret"></span></a>
                                <ul class="dropdown-menu">

                                    <li class="{% if request.resolver_match.url_name == "app_list" %}active{% endif %}">
                                        <a href="{% url 'app_list' %}">List</a>
                                    </li>
                                    <li class="{% if request.resolver_match.url_name == "vote" %}active{% endif %}">
                                        <a href="{% url 'vote' %}">Vote</a>
                                    </li>
                                    <li class="{% if request.resolver_match.url_name == "ranking" %}active{% endif %}">
                                        <a href="{% url 'ranking' %}">Vote ranking</a>
                                    </li>
                                    {% if request.user.is_director %}
                                        <li class="{% if request.resolver_match.url_name == "invite_list" %}active{% endif %}">
                                            <a href="{% url 'invite_list' %}">Send invitations</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">Reimbursements <span
                                        class="caret"></span></a>
                                <ul class="dropdown-menu">

                                    <li class="{% if request.resolver_match.url_name == "reimbursement_list" %}active{% endif %}">
                                        <a href="{% url 'reimbursement_list' %}">List</a>
                                    </li>
                                    <li class="{% if request.resolver_match.url_name == "receipt_review" %}active{% endif %}">
                                        <a href="{% url 'receipt_review' %}">Review receipts</a>
                                    </li>
                                    {% if request.user.is_director %}
                                        <li class="{% if request.resolver_match.url_name == "send_reimbursement" %}active{% endif %}">
                                            <a href="{% url 'send_reimbursement' %}">Send reimbursements</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}
                        {% if request.user.is_organizer or request.user.is_volunteer %}
                            <li class="{% if request.resolver_match.url_name == "check_in_list" %}active{% endif %}"><a
                                    href="{% url 'check_in_list' %}">Check-in</a></li>
                        {% endif %}
                        {% if not request.user.is_organizer %}
                            <li class="{% if request.resolver_match.url_name == "dashboard" %}active{% endif %}"><a
                                    href="{% url 'dashboard' %}">Dashboard</a></li>
                        {% endif %}
                        <li><a href="{% url 'account_logout' %}">Logout</a></li>

                    {% else %}
                        <li><a href="{% url 'account_login' %}">Sign In</a></li>
                        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
<div class="content container">

    {% block body %}
        <div class="margin-top">
            {% bootstrap_messages %}
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% block content %}
                        {% endblock %}

                    </div>
                </div>
            </div>
        </div>
        {% block extra_body %}
        {% endblock %}

    {% endblock %}
</div>
{% if h_ga %}
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', '{{ h_ga }}', 'auto');
        ga('send', 'pageview');

    </script>
{% endif %}
</body>
</html>
