{% extends 'base_tabs.html' %}
{% load static %}
{% block head_title %}Legal Notice{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block panel %}
    <h1>{{ h_name }} Legal Notice</h1>
    <p>This Legal Notice is intended to regulate access and use and, in general, the relationship between this Website, accessible from the Internet address <a href="https://my.hackupc.com" target="_blank">https://my.hackupc.com</a> (the "Website") and its Users.</p>

    <hr>
    <h3>1.IDENTITY OF THE SERVICE PROVIDER</h3>
    <p>The owner of this Website is ASSOCIACIÓ HACKERS AT UPC (hereinafter, “HACKERS AT UPC”) with NIF/VAT G66642778 and address at C/ Jordi Girona, num. 1, Campus Nord UPC, Edifici Omega, D.S103, 08034, Barcelona (Spain) and contact e-mail address <a href="mailto:contact@hackupc.com" target="_blank">contact@hackupc.com</a>.</p>
    <p>This Website is informative, open and available to the public. The access to the Website attributes to the person who carries it out the condition of User, who accepts from that moment on, fully and without any reservation, the conditions contained in this Legal Notice.</p>
    
    <hr>
    <h3>2.USE AND CONTENT OF THE WEBSITE</h3>
    <p>The User undertakes to use the Website, its contents and services in accordance with the Law, this Legal Notice, the good customs and the public order. The use of the Website for illicit or harmful purposes against HACKERS AT UPC or third parties is prohibited.</p>
    <p>Reproduction, distribution or modification of the contents of this website is prohibited without the written permission of the legitimate owners.</p>
    <p>The User expressly undertakes not to destroy, alter, render useless or in any other way damage the data, programs or electronic documents that are on the Website, or to introduce programs, viruses, macros, applets, Acive X controls or any other logical device or sequence of characters that cause or are likely to cause any kind of alteration in computer systems.</p>
    <p>The duration of the service provided by the Website is indefinite. Without prejudice to the foregoing, HACKERS AT UPC reserves the right to discontinue this service at any time and without prior notice.</p>
    
    <hr>
    <h3>3.LINKS TO THIRD PARTY WEBSITES</h3>
    <p>This Legal Notice refers only to this Website and its content. Therefore, it does not apply to third party web pages accessible through links inserted in the HACKERS AT UPC’s Website.</p>
    <p>Under no circumstances shall HACKERS AT UPC be liable for the contents or services of other links made available on the Website, nor can it guarantee the technical availability, quality, reliability, accuracy, breadth, accuracy, validity and legality of any material or information contained in any of said links.</p>
    <p>Unless expressly stated otherwise, the contents of the Website do not constitute a binding offer.</p>
    <p>Links that appear on the Website may not be approved by HACKERS AT UPC.</p>
    <p>Likewise, the inclusion of these external connections will not imply any type of association, merger or participation with the connected entities.</p>
    
    <hr>
    <h3>4.INTELLECTUAL PROPERTY</h3>
    <p>HACKERS AT UPC is the legitimate owner of all rights, titles and interests in and to the Website, its contents and software, including any modifications, updates and new versions, as well as any trademarks, trade names, know-how, copyrights, images, photographs, graphic drawings, text files, audio, video and any other intellectual or industrial property rights inherent therein.</p>
    <p>It is strictly forbidden to remove, circumvent or manipulate the copyright notice and any other data identifying the rights of HACKERS AT UPC or their respective owners incorporated into the contents, product and/or services, as well as the technical protection devices or any information and/or identification mechanisms that may be contained therein. Under no circumstances shall the provision of these contents to the Users imply the transfer of their ownership or any right of use and/or exploitation to the User, other than the use that the legitimate use entails and in accordance with the nature of the services and functionalities of HACKERS AT UPC.</p>
    <p>Any use of any of the elements subject to industrial and intellectual property for any type of purpose, especially commercial, as well as their transmission, distribution, public communication, reproduction or storage, in whole or in part, whether for profit or for commercial or non-commercial purposes, is strictly prohibited, unless expressly authorised in writing by the owner of the same.</p>
    
    <hr>
    <h3>5.LIABILITY</h3>
    <p>Visiting users undertake not to introduce, voluntarily or involuntarily, viruses or files of any nature that may disturb the functioning of the Website; in which case they would be fully responsible.</p>
    <p>Your use and browsing of the Website is at your own risk. HACKERS AT UPC shall be exempt from any liability for damages to the User and third parties in connection with:</p>
    <ul style="padding-left: 1em;">
      <li>i) The incorrect functioning of the Website.</li>
      <li>ii) The lack of adequacy of the Website and/or its services or contents to satisfy the needs, specific results or expectations of the Users.</li>
      <li>iii) Presence of contaminating codes or viruses that could produce alterations in the computer system of the Users.</li>
      <li>iv) Any damage that may occur as a result of the contents of third parties included on the Website.</li>
    </ul>
    <p>HACKERS AT UPC reserves the right to prevent, block and/or remove from the Website those Users who display inappropriate behaviour or who breach any of the clauses of this Legal Notice, without prior notice from HACKERS AT UPC.</p>
    
    <hr>
    <h3>6.CONFIDENTIALITY AND PERSONAL DATA PROTECTION</h3>
    <p>In accordance with the current data protection legislation, particularly the Regulation (EU) 2016/679 of The European Parliament and of The Council, of 27 April, on the protection of natural persons with regard to the processing of personal data and on the free movement of such data, all personal data collected during the use of the Website will be processed in accordance with the provisions of the <a href="http://my.hackupc.com/privacy_and_cookies/" target="_blank">Privacy and Cookies Policy</a> which all Users must expressly accept.</p>
    
    <hr>
    <h3>7.APPLICABLE LAW AND JURISDICTION</h3>
    <p>This Legal Notice shall be governed by Spanish law.</p>
    <p>In the event that the User's domicile is outside Spain, HACKERS AT UPC and the User, expressly waiving any other jurisdiction to which they may be entitled, hereby submit to the jurisdiction of the Courts and Tribunals of Barcelona.</p>
    <p>HACKERS AT UPC will pursue the breach of this Legal Notice as well as any improper use of the Website by exercising all civil and criminal actions that may correspond.</p>
    
    <hr>
    <h3>8.MODIFICATION AND UPDATE</h3>
    <p>The information contained in these pages is current as of the date of the last update.</p>
    <p>HACKERS AT UPC reserves the right to modify this Legal Notice at any time and to restrict access temporarily or permanently, indicating in the heading of this Legal Notice the date of the last modification.</p>
    <p>If you do not agree with any updates, please contact HACKERS AT UPC.</p>
    
    <hr>
    <p>Last Reviewed: July 6, 2018.</p>
{% endblock %}
