{% extends 'base_tabs.html' %}
{% load static %}
{% block head_title %}Privacy and Cookies Policy{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block panel %}
    <h1>{{ h_name }} Privacy and Cookies Policy</h1>
    <p>In compliance with current regulations on the protection of personal data you are informed of the following aspects.</p>
    
    <hr>
    <h3>1.DATA CONTROLLER</h3>
    <p>ASSOCIACIÓ HACKERS AT UPC (hereinafter, “HACKERS AT UPC”) with NIF/VAT G66642778 and address at C/ Jordi Girona, num. 1-3, Campus Nord UPC, Edifici Omega, D.S103, 08034, Barcelona (Spain) is the Data Controller of the processing of your personal data.</p>
    <p>You may contact HACKERS AT UPC in the postal address previously indicated or in the following email address for any query, request or clarification regarding the processing of your personal data: <a href="mailto:contact@hackupc.com" target="_blank">contact@hackupc.com</a>.</p>
    
    <hr>
    <h3>2.WHAT PERSONAL DATA WE PROCESS AND HOW WE HAVE OBTAINED IT</h3>
    <p>HACKERS AT UPC shall process the following personal data: (i) Any initial data that you voluntarily provide related to a request to register as a participant, information requests made to our company, requests to take part in promotions or requests to receive any of the services offered by HACKERS AUPC (We shall give clear, precise instructions of the mandatory data you must provide on each form), (ii) any data that are subsequently generated or exchanged with Users in order for HACKERS AT UPC to fulfil your initial request and (iii) any personal data that you provide through social media in order to handle your requests. These data shall depend on the privacy settings of each participant, the use made by each participant of social media, in addition to the privacy policies of the social media in question.</p>
    <p>Here are the details of which personal data is collected when you subscribe to be the first to know when applications open:</p>
    <ul style="padding-left: 1em;">
      <li>Contact data: E-mail.</li>
    </ul>
    <p>Here are the details of which personal data is collected when you register as a Participant:</p>
    <ul style="padding-left: 1em;">
      <li>Identifying data: Name, surname/s, city, country, images or videos of yourself and a link to a personal website.</li>
      <li>Contact data: E-mail and phone number.</li>
      <li>Data on personal characteristics: Sex, if you are a minor and t-shirt size.</li>
      <li>Academic and professional data: CV, year of graduation, university, current studies and a link to professional profiles on-line (github, linkedin, devpost).</li>
      <li>Economic and financial data: E-mail related to your PayPal account.</li>
      <li>Health data: Food allergies and intolerances.</li>
      <li>Other information: Password, last connection and dietary preferences.</li>
    </ul>
    <p>Here are the details of which personal data is collected when you register as a Volunteer:</p>
    <ul style="padding-left: 1em;">
      <li>Identifying data: Name, surname/s and images or videos of yourself.</li>
      <li>Contact data: E-mail and phone number.</li>
      <li>Data on personal characteristics: Sex, if you are a minor, t-shirt size.</li>
      <li>Academic and professional data: University, current studies and previous experience.</li>
      <li>Health data: Food allergies and intolerances.</li>
      <li>Other information: Dietary preferences.</li>
    </ul>
    <p>Here are the details of which personal data is collected when you register as an Organizer:</p>
    <ul style="padding-left: 1em;">
      <li>Identifying data: Name, surname/s and images or videos of yourself.</li>
      <li>Contact data: E-mail and phone number.</li>
      <li>Business contact data: Corporate e-mail.</li>
      <li>Data on personal characteristics: T-shirt size.</li>
      <li>Economic and financial data: Bank account.</li>
      <li>Health data: Food allergies and intolerances.</li>
      <li>Other information: Dietary preferences.</li>
      <li>Academic Data and professional data: Current studies, year of studies, link to professional profiles online (GitHub, LinkedIn).</li>
    </ul>
    <p>Here are the details of which personal data is collected when you register as a Judge or a Mentor:</p>
    <ul style="padding-left: 1em;">
      <li>Identifying data: Name, surname/s, images or videos of yourself and links to social media and personal websites.</li>
      <li>Contact data: E-mail and phone number.</li>
      <li>Data on personal characteristics: Sex and t-shirt size.</li>
      <li>Health data: Food allergies and intolerances.</li>
      <li>Other information: Dietary preferences.</li>
    </ul>
    <p>Here are the details of which personal data is collected when you register as "other attendees”:</p>
    <ul style="padding-left: 1em;">
      <li>Identifying data: Name, surname/s and images or videos of yourself.</li>
      <li>Contact data: E-mail.</li>
    </ul>
    <p>Here are the details of which personal data is collected when you register as a Sponsor:</p>
    <ul style="padding-left: 1em;">
      <li>Identifying data: Name, surname/s and images or videos of the contact person or the employee of the Sponsor.</li>
      <li>Business contact data: Corporate e-mail of the contact person or the employee of the Sponsor.</li>
    </ul>
    <p>Here are the details of which personal data is collected during a HackUPC CHEATING RESPONSE PROCEDURE:</p>
    <ul style="padding-left: 1em;">
      <li>Identifying and contact data of the reporter: Name, email, phone, etc.</li>
      <li>Identifying and contact data of the participant/team accused of cheating: Name, email, phone, etc.</li>
      <li>Identifying data of other people suspected to be involved in the cheating.</li>
      <li>Identifying data of other witnesses or people who suspect about the cheating.</li>
    </ul>
    
    <hr>
    <h3>3.WHAT WE PROCESS YOUR PERSONAL DATA FOR</h3>
    <p>When you subscribe to be the first to know when applications open, register as a Participant, register as a Volunteer, register as an Organizer, register as a Judge or a Mentor or register as "other attendees”:</p>
    <ul style="padding-left: 1em;">
      <li>HACKERS AT UPC shall process your personal data to handle and process requests received from you, whether for information, registration, participation in promotions or the rendering of services.</li>
      <li>In addition, your personal data shall be processed to send, including via electronic media, commercial communications about activities, services or products offered by HACKERS AT UPC that are of a similar nature to those previously requested by you.</li>
    </ul>
    <p>When you register as a Sponsor:</p>
    <ul style="padding-left: 1em;">
      <li>Your business contact data will be processed with the exclusive purpose of maintaining the commercial, contractual or collaborative relationships that HACKERS AT UPC has with the company, entity or organization you work for or collaborate with.</li>
      <li>In addition, your business contact data shall be processed to send, including via electronic media, commercial communications about activities, services or products offered by HACKERS AT UPC that are of a similar nature to those that motivate the existing relationship between our entity and the company, entity or organization that you work for or collaborate with.</li>
    </ul>
    <p>When personal data is collected during a HackUPC CHEATING RESPONSE PROCEDURE:</p>
    <ul style="padding-left: 1em;">
      <li>HACKERS AT UPC shall process your personal data to handle and process the request received from the reporter and carry out the investigation related to cheating.</li>
    </ul>
    <p>Regarding the images and videos of yourself:</p>
    <ul style="padding-left: 1em;">
      <li>HACKERS AT UPC shall process your personal data to display, broadcast and/or publish it by HACKERS AT UPC for advertising purposes through any audiovisual and/or written media (TV, press, internet, social networks, etc.) and in any advertising and media support (brochures, banners, panels, website, memory of activities, publications, reports, etc.).</li>
      <li>In case you expressly consent, HACKERS AT UPC shall process your personal data to display, broadcast and/or publish it by the Sponsors of the event you request to participate in for advertising purposes through any audiovisual and/or written media (TV, press, internet, social networks, etc.) and in any advertising and media support (brochures, banners, panels, website, memory of activities, publications, reports, etc.).</li>
    </ul>
    <p>Regarding food allergies and intolerances:</p>
    <ul style="padding-left: 1em;">
      <li>HACKERS AT UPC shall process your personal data only in order to manage the catering service.</li>
    </ul>
    
    <hr>
    <h3>4.WHY WE MAY PROCESS YOUR PERSONAL DATA</h3>
    <p>When you subscribe to be the first to know when applications open, register as a Participant, register as a Volunteer, register as an Organizer, register as a Judge or a Mentor or register as "other attendees”:</p>
    <ul style="padding-left: 1em;">
      <li>HACKERS AT UPC is legally entitled to process personal data for handing and processing requests from you, as this is required for HACKERS AT UPC to meet its contractual obligations in respect of such requests.</li>
      <li>With regard to commercial communications sent about activities, services or products offered by HACKERS AT UPC of a similar nature to those previously requested or acquired by you, the processing of your personal data responds to a legitimate interest of HACKERS AT UPC, expressly recognised by the data protection regulation, as well as by the regulations on services in the information society.</li>
      <li>You may now or at any time in the future object to receive commercial communications about activities, services or products offered by HACKERS AT UPC by sending an email to <a href="mailto:contact@hackupc.com" target="_blank">contact@hackupc.com</a>.</li>
    </ul>
    <p>When you register as a Sponsor:</p>
    <ul style="padding-left: 1em;">
      <li>The processing of your business contact data relative to maintaining the relationship between HACKERS AT UPC and the company, entity or organization you work for or collaborate with responds to a legitimate interest of our organization, specifically recognized in the privacy regulation.</li>
      <li>With regard to commercial communications sent about activities, services or products offered by HACKERS AT UPC of a similar nature to those that motivate the existing relationship between our entity and the company, entity or organization that you work for or collaborate with, the processing of your personal data responds to a legitimate interest of HACKERS AT UPC, expressly recognised by the data protection regulation, as well as by the regulations on services in the information society.</li>
      <li>You may now or at any time in the future object to receive commercial communications about activities, services or products offered by HACKERS AT UPC by sending an email to <a href="mailto:contact@hackupc.com" target="_blank">contact@hackupc.com</a>.</li>
    </ul>
    <p>When personal data is collected during a HackUPC CHEATING RESPONSE PROCEDURE:</p>
    <ul style="padding-left: 1em;">
      <li>HACKERS AT UPC is legally entitled to process personal data to handle and process the request received from the reporter and carry out the investigation related to cheating, as this is required for HACKERS AT UPC to meet its contractual obligations in respect of such requests.</li>
    </ul>
    <p>Regarding the images and videos of yourself:</p>
    <ul style="padding-left: 1em;">
      <li>HACKERS AT UPC is legally entitled to process your personal data to display, broadcast and/or publish it because you have given express consent.</p>
    </ul>
    <p>Regarding food allergies and intolerances:</p>
    <p>HACKERS AT UPC shall process your personal data in order to manage the catering service because you have given express consent.</p>
    
    <hr>
    <h3>5.WHEN AND WHY WE MAY TRANSFER YOUR DATA TO THIRD PARTIES</h3>
    <p>Your data may be transferred to the following addressees for these reasons:</p>
    <ul style="padding-left: 1em;">
      <li>Public Administrations: for compliance with legal obligations to which HACKERS AT UPC is subject based on its activity.</li>
      <li>Accounting audit firms: to comply with the legal obligations of auditing accounts to which HACKERS AT UPC is subject due to its activity.</li>
      <li>Law Enforcement: when our organization is required to provide information in compliance with a legal obligation.</li>
      <li>Providers who require access to your personal data in order to provide the services that HACKERS AT UPC has hired from them, and with whom HACKERS AT UPC has subscribed confidentiality and data processing agreements that are necessary and mandatory by the privacy protection regulation.</li>
      <li>In the event that you expressly consent, HACKERS AT UPC will transfer the images and videos captured of yourself to the Sponsors of the event you request to participate in for advertising purposes. HACKERS at UPC will be able to transfer your data due to the fact that you have given your consent.</li>
      <li>In the event that you request it, we will share the personal data in your CV, with the Sponsors participating at the specific event organized by HACKERS AT UPC in which you request to participate in. HACKERS at UPC will be able to transfer your data due to the fact that you have given your consent.</li>
    </ul>
    <p>You will be duly informed if HACKERS AT UPC transfers personal data to other addressees in the future.</p>
    
    <hr>
    <h3>6.INTERNATIONAL DATA TRANSFERS</h3>
    <p>HACKERS AT UPC has hired technology service providers located in countries that do not have a data protection regulation equivalent to the European (“Third Countries”). These service providers have signed the confidentiality and data processing agreements required by the regulation, which apply the warranties and safeguards needed to preserve your privacy.</p>
    <p>For further information regarding warranties to your privacy, you may contact HACKERS AT UPC at the electronic or postal addresses previously indicated.</p>
    
    <hr>
    <h3>7.HOW LONG WE WILL STORE YOUR DATA </h3>
    <p>Your personal data will be stored while your relationship with HACKERS AT UPC is ongoing and, once said relationship is terminated for whatever cause, for the applicable legal terms. Once the relationship is terminated, your data will be processed solely to the effects of demonstrating compliance with the legal or contractual obligations of the Company. Once said legal terms are met, your data will be eliminated or, alternatively, anonymized. </p>
    
    <hr>
    <h3>8.WHAT ARE YOUR RIGHTS</h3>
    <p>We inform you that you have a right to access your personal data, rectify inaccurate data, request their erasure when they are no longer necessary, oppose or limit the processing or request the portability of the data, through the postal and electronic addresses indicated.</p>
    <p>Furthermore, if you consider the processing of your personal data violates the regulation or your rights to privacy, you may file a complaint:</p>
    <ul style="padding-left: 1em;">
      <li>To HACKERS AT UPC, through the electronic and postal addresses indicated.</li>
      <li>To the Spanish Data Protection Agency (Agencia Española de Protección de Datos) through its electronic or postal addresses.</li>
    </ul>
    
    <hr>
    <h3>9.WARNING TO MINORS</h3>
    <p>HACKERS AT UPC hereby informs you that minors under the age of 14 may not register on this Website and, therefore, they may not take part in promotional campaigns that HACKERS AT UPC may conduct in relation to its activity.</p>
    <p>Furthermore, you are informed that if you are aged over 14 but under 18, it is recommended that you tell your parents or legal guardians that you intend to access the Website before doing so, in order that the former explain to you the implications of these Terms and Conditions and, specifically, of the Privacy and Cookies Policy contained herein, as well as elucidating on the possible uses to be made of this Website, notwithstanding the specific cases in which by law the parents or legal guardians of minors between the ages of 14 and 18 must give their consent for their personal data to be processed.</p>
    
    <hr>
    <h3>10.COOKIES</h3>
    <h4><strong>What are cookies and how we use them?</strong></h4>
    <p>A cookie is a small text file that is stored on a user’s computer for record-keeping purposes. We do not link the information we store in cookies to any personally identifiable information you submit while on our Website. By accessing the Site, you expressly accept the use of this type of cookies on your devices.</p>
    <p>There are two types of cookies: session cookies and persistent cookies. We also allow third parties to use cookies on our Website.</p>
    <ul style="padding-left: 1em;">
      <li>Session Cookies. Session cookies exist only during one online session. They are deleted from your computer when the browser is closed or the computer is turned off. We use session cookies to allow our systems to uniquely identify you during a session.</li>
      <li>Persistent Cookies. Persistent cookies are saved on the computer after you have closed the browser or shut down your computer. We use persistent cookies to track statistical and aggregate information about your activity, which can be combined with other information.</li>
      <li>Third Party Cookies. We also hire third parties to track and analyse personal and non-personal information. To do so, we allow third parties to send cookies to users of our Website, as permitted by law and without prejudice to your right to disable such cookies. We use the data collected by said third parties to help us manage and improve the quality of the Website and to analyse the use of the Website. The use of these cookies is not covered by our Privacy & Cookies Policy, we do not have access or control over these cookies.</li>
    </ul>
    <h4><strong>Which cookies do we use?</strong></h4>
    <p>We use both session ID cookies and persistent cookies. We use session cookies to make it easier for you to navigate our Website. A session ID cookie expires when you close your browser. A persistent cookie remains on your hard drive for an extended period of time</p>
    <style>th, td {border: 1px solid #191c1f; padding: 0.5em;}</style>
    <table style="width:100%; margin-bottom: 1em;">
      <tr>
	<th>Cookie</th>
	<th>Owner</th>
	<th>Duration</th>
	<th>Purpose</th>
      </tr>
      <tr>
	<td>_cfduid</td>
	<td>Cloudfare</td>
	<td>6 months</td>
	<td>Identify individual clients behind a shared IP address and apply security settings on a per-client basis.</td>
      </tr>
      <tr>
	<td>_ga</td>
	<td>Google</td>
	<td>2 years</td>
	<td>Used to distinguish users.</td>
      </tr>
      <tr>
	<td>_gat</td>
	<td>Google</td>
	<td>1 minute</td>
	<td>Used to throttle request rate. If Google Analytics is deployed via Google Tag Manager, this cookie will be named _dc_gtm_<property-id>.</td>
      </tr>
      <tr>
	<td>_gid</td>
	<td>Google</td>
	<td>1 day</td>
	<td>Used to distinguish users.</td>
      </tr>
      <tr>
	<td>csrftoken</td>
	<td>Hackers@UPC</td>
	<td>Undefined</td>
	<td>Protection against CSRF attacks.</td>
      </tr>
      <tr>
	<td>optimizelyEndUserId</td>
	<td>Cloudfare</td>
	<td>6 months</td>
	<td>Stores a visitor's unique Optimizely identifier, for both Optimizely Classic and Optimizely X Web. It's a combination of a timestamp and random number.</td>
      </tr>
      <tr>
	<td>sessionid</td>
	<td>Hackers@UPC</td>
	<td>15 days</td>
	<td>Mantains logged in session.</td>
      </tr>
    </table>
    <p>We also use local storage to save if users have clicked on "OK" on the cookie notification bar. The data saved only consists of a key "cookies" with value "1".</p>
    <h4><strong>Can I refuse or opt out of cookies?</strong></h4>
    <p>You can delete cookies at any time using the special settings of your web browser. Given the large number of browsers and versions available on the market, we cannot provide technical assistance on the process of blocking or removing cookies from each of them. For such purposes, you should consult the manuals and support services provided by the manufacturer of the browser that you are using. In any case, for information only, we provide the following links that detail how to allow, block or delete cookies in the main browsers in the market at the time of writing this Policy:</p>
    <ul style="padding-left: 1em;">
      <li>Safari: <a href="http://support.apple.com/kb/PH17191" target=_blank">http://support.apple.com/kb/PH17191</a></li>
      <li>Firefox: <a href="https://support.mozilla.org/es/kb/cookies-informacion-que-los-sitios-web-guardan-en-?esab=a&s=cookies&r=1&as=s" target="_blank">https://support.mozilla.org/es/kb/cookies-informacion-que-los-sitios-web-guardan-en-?esab=a&s=cookies&r=1&as=s</a></p>
      <li>Google Chrome: <a href="https://support.google.com/accounts/answer/61416" target="_blank">https://support.google.com/accounts/answer/61416</a>.</p>
      <li>Internet Explorer: http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9</li>
      <li>Opera: <a href="http://help.opera.com/Windows/11.50/es-ES/cookies.html" target="_blank">http://help.opera.com/Windows/11.50/es-ES/cookies.html</a>.</li>
    </ul>
    <p>Everything related to Google's cookies, both analytical and advertising, as well as their administration and configuration can be consulted at:</p>
    <ul style="padding-left: 1em;">
      <li><a href="https://www.google.es/intl/es/policies/technologies/types/" target="_blank">https://www.google.es/intl/es/policies/technologies/types/</a>.</li>
      <li><a href="https://www.google.es/policies/technologies/ads/" target="_blank">https://www.google.es/policies/technologies/ads/</a>.</li>
      <li><a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage" target="_blank">https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage</a>.</li>
    </ul>
    <p>If you choose to disable cookies, we may not be able to offer you some of our services.</p>
    
    <hr>
    <p>Last Reviewed: July 11, 2018.</p>
{% endblock %}
