{% extends 'base_tabs.html' %}
{% load static %}
{% block head_title %}Code of Conduct{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block panel %}
    <h1>{{ h_name }} Code of Conduct</h1>
    <p>This is the Code of Conduct that we expect all HackUPC participants to abide. This is a customized version of the Code of Conduct used at MLH Member Hackathons. If you have a suggestion for this code of conduct or a question about them, please submit an issue <a href="https://github.com/hackupc/rules/issues" target="_blank">here</a>.</p>

    <hr>
    <h3>TL;DR</h3>
    <p>Be respectful. Harassment and abuse are never tolerated.</p>

    <hr>
    <h3>The Code of Conduct</h3>
    <p>At Hackers@UPC we believe that every participant has the right to hack in a safe and welcoming environment.</p>
    <p>Harassment includes but is not limited to offensive verbal or written comments related to gender, age, sexual orientation, disability, physical appearance, body size, race, religion, social class, economic status, veteran status, sexual images, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention. If what you’re doing is making someone feel uncomfortable, that counts as harassment and is enough reason to stop doing it.</p>
    <p>Participants asked to stop any harassing behavior are expected to comply immediately.</p>
    <p>Sponsors, judges, mentors, volunteers, organizers, and anyone else at the event are also subject to the anti-harassment policy. In particular, attendees should not use sexualised images, activities, or other material both in their hacks and during the event. Booth staff (including volunteers) should not use sexualised clothing/uniforms/costumes, or otherwise create a sexualised environment.</p>
    <p>If a participant engages in harassing behavior, Hackers@UPC may take any action it deems appropriate, including warning the offender or expulsion from the event with no eligibility for reimbursement or refund of any type.</p>
    <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact Hackers@UPC using the reporting procedures defined below.</p>
    <p>Event organizers will be happy to help participants contact campus security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the event. We value your attendance.</p>
    <p>We expect participants to follow these rules at all hackathon venues, online interactions in relation to the event, hackathon-related social events, and on hackathon supplied transportation.</p>

    <hr>
    <h3>Reporting Procedures</h3>
    <p>If you feel uncomfortable or think there may be a potential violation of the code of conduct, please report it immediately using one of the following methods. All reporters have the right to remain anonymous.</p>
    <p>By sending us an email to contact@hackupc.com, your report will be received by our organizers. If you want to remain anonymous please send us an email through an anonymous email service or create a temporary email account.</p>
    <p>If you need to contact a team member directly, please contact one of our organizers below.</p>
    <ul>
        <li>Marina Ramon, @marina in Slack, <a href="mailto:marina@hackupc.com" target="_blank">marina@hackupc.com</a>.</li>
        <li>Fàlix Arribas, @felix in Slack, <a href="mailto:felix@hackupc.com" target="_blank">felix@hackupc.com</a>.</li>
        <li>Oscar Faixat, @faix in Slack, <a href="mailto:oscar@hackupc.com" target="_blank">oscar@hackupc.com</a>.</li>
    </ul>
    <p>Hackers@UPC reserves the right to revise, make exceptions to, or otherwise amend these policies in whole or in part.</p>

    <hr>
    <p>Last Reviewed: June 27, 2018.</p>
{% endblock %}
