{% extends 'base_tabs.html' %}
{% load static %}
{% block head_title %}Terms and Conditions{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block panel %}
    <h1>{{ h_name }} Terms and Conditions</h1>
    <p>These Terms & Conditions (hereinafter, “T&C”) are intended to regulate the relationship between ASSOCIACIÓ HACKERS AT UPC (hereinafter, “HACKERS AT UPC”) and the Users who decide to sign up and participate in the event HackUPC organized by HACKERS AT UPC.</p>
    <p>For the purposes of this Agreement, the parties agree that, when used capitalized herein, the following terms shall have the following meanings unless they are otherwise defined in this Agreement.</p>

    <hr>
    <h2>DEFINITIONS</h2>
    <p><strong>The “Organizer”</strong> refers to HACKERS AT UPC, with NIF/VAT G66642778 and address at C/ Jordi Girona, num. 1, Campus Nord UPC, Edifici Omega, D.S103, 08034, Barcelona (Spain) and contact e-mail address <a href="mailto:contact@hackupc.com" target="_blank">contact@hackupc.com</a>.</p>
    <p><strong>The “Participant”</strong> refers to any User who decides to sign up accepting these T&C and participates in the event organized by the Organizer by competing in the Hacktaton.</p>
    <p><strong>The “Attendee”</strong> refers to any User who decides to sign up accepting these T&C and participates in the event organized by the Organizer in any other role that is not the role of Participant. It includes the following: Sponsor, Judge, Mentor, Organizer, Volunteer and other attendees.</p>
    <p><strong>The event “HackUPC”</strong> refers to the Event organized by the Organizer, which is a Hackathon. Hackathons are awesome events full of creativity, technology and passionate tech-related students collaborating and creating.</p>
    
    <hr>
    <h2>CLAUSES</h2>
    <h3>1.OBJECT</h3>
    <p>By virtue of this Agreement the Participant or Attendee agrees to participate in the event HackUPC organized by HACKERS AT UPC, which is the first student Hackathon in Spain.</p>
    <p>These T&C apply to both the Participants and the Attendees, although some of its clauses may only be applicable to the Participant given their role in the Hackaton.</p>
    <p>HACKERS AT UPC is an association that promotes technology, creativity and innovation and organizes events, primarily Hackathons, which take place once a year.</p>

    <hr>
    <h3>2.HackUPC COMPETITION RULES</h3>
    <p>These are the HackUPC competition rules. They are a customized version of the standard competition rules used at MLH Member Hackathons. If you have a suggestion for these rules or a question about them, please submit it to the e-mail address provided.</p>
    
    <h4><strong>The spirit of the competition</strong></h4>
    <p>Remember that Hackathons are like marathons. Some people go to compete but most people take part to better themselves and have fun. Whatever the reason is you're at a Hackathon, make sure you're upholding the hacker spirit by collaborating with other teams, helping beginners, and having fun.</p>
    
    <h4><strong>The rules of the competition</strong></h4>
    <ul style="padding-left: 1em;">
      <li>1. There is no minimum team size, however, the maximum size is 4 people. There will be 1 prize for each member of the team, independently of the team size.</li>
      <li>2. Teams should be made up exclusively of students (or recent graduates within one year of having graduated) who are not organizers, judges, sponsors, or in any other privileged position at the event. Volunteers are allowed to participate in their free time, accepting the extra difficulty of hacking and volunteering at the same time, but their role won't give them any judging advantage in front of the rest of participants.</li>
      <li>3. All team members should be present at the event. Leaving the venue for some time to hack elsewhere or sleep is fine.</li>
      <li>4. Teams can of course gain advice and support from organizers, volunteers, sponsors, and others.</li>
      <li>5. All work on a project should be done at the Hackathon.</li>
      <li>6. Teams can use an idea they had before the event.</li>
      <li>7. Teams can work on ideas that have already been done. Hacks do not have to be “innovative”. If somebody wants to work on a common idea they should be allowed to do so and should be judged on the quality of their hack. These days it’s hard to find something that’s fully original and teams might not know an idea has been done before anyway.</li>
      <li>8. Teams can work on an idea that they have worked on before (as long as they do not re-use code).</li>
      <li>9. Teams can use libraries, frameworks, or open-source code in their projects. Working on a project before the event and open-sourcing it for the sole purpose of using the code during the event is against the spirit of the rules and is not allowed.</li>
      <li>10. Adding new features to existing projects is allowed. Judges will only consider new functionality introduced or new features added during the Hackathon in determining the winners.</li>
      <li>11. Teams must stop hacking once the time is up. However, teams are allowed to debug and make small fixes to their programs after time is up. e.g. If during demoing your hack you find a bug that breaks your application and the fix is only a few lines of code, it's okay to fix that. Making large changes or adding new features is not allowed.</li>
      <li>12. Participants who asked for a travel reimbursement need to post a project before the deadline in order to get the reimbursement.</li>
      <li>13. Projects that violate the Code of Conduct are not allowed (clause 3).</li>
      <li>14. Teams can be disqualified from the competition at the organizers' discretion. Reasons might include but are not limited to breaking the Competition Rules, breaking the Code of Conduct, or other unsporting behaviour.</li>
    </ul>
    
    <h4><strong>Demos</strong></h4>
    <p>After hacking finishes, teams will show their projects to each other and to the judges.</p>
    <p>You are strongly encouraged to present a demo of what you have built. Pitches or presentations are discouraged. You are not judged on the quality of your pitch or the quality of your idea. As you are judged on what you built, you'll only hurt yourself by not showing a demo.</p>
    <p>You are encouraged to present what you have done even if your hack is broken or you weren’t able to finish. It's okay if you didn't finish your hack, that happens all the time! Completion is only one part of the judging criteria, so you might still do well. Also, demoing is not just about the competition. It's a chance to share with others what you learned and what you tried to build that's what hacking's all about! In the case that you don't have anything to demo, you can give a presentation about what you tried and what you learned. Hearing what other people learned is interesting and inspiring for other attendees.</p>
    
    <h4><strong>Judging Criteria</strong></h4>
    <p>Teams will be judged on these four criteria. Judges will weigh the criteria equally. During judging, participants should try to describe what they did for each criterion in their project.</p>
    <ul style="padding-left: 1em;">
      <li>Technology: How technically impressive was the hack? Was the technical problem the team tackled difficult? Did it use a particularly clever technique or did it use many different components? Did the technology involved make you go "Wow"?</li>
      <li>Design: Did the team put thought into the user experience? How well designed is the interface? For a website, this might be about how beautiful the CSS or graphics are. For a hardware project, it might be more about how good the human-computer interaction is (e.g. is it easy to use or does it use a cool interface?).</li>
      <li>Completion: Does the hack work? Did the team achieve everything they wanted?</li>
      <li>Learning: Did the team stretch themselves? Did they try to learn something new? What kind of projects have they worked on before? If a team which always does virtual reality projects decides to switch up and try doing a mobile app instead, that exploration should be rewarded.</li>
    </ul>
    <p>These criteria will guide judges but ultimately judges are free to make decisions based on their gut feeling of which projects are the most impressive and most deserving.</p>
    <p>It's important to note that these judging criteria do not include:</p>
    <ul style="padding-left: 1em;">
      <li>How good your code is. It doesn't matter if your code is messy, or not well commented, or uses inefficient algorithms. Hacking is about playing around, making mistakes, and learning new things. If your code isn't production ready, we're not going to mark you down.</li>
      <li>How well you pitch. Hacking is about building and learning, not about selling.</li>
      <li>How good the idea is. Again, Hackathons aren't about coming up with innovative ideas. It's about building and learning.</li>
      <li>How well the project solves a problem. You can build something totally useless and as long as you're learning and having fun, that's a good hack! Sometimes a pointless project is one of the best hacks!</li>
    </ul>
    <p>So don't worry about coming up with the next big idea or building the next Facebook. You'll have plenty of time for that outside the Hackathon. Just focus on learning, having fun, and making new friends. At the end of the day the skills you learn and the friends you make might lead to the next big thing—but you don't have to do that to win a Hackathon.</p>
    
    <h4><strong>Travel reimbursement</strong></h4>
    <p>If you have been elected to receive a travel reimbursement, we will contact you after the Hackathon to send it to you. You will receive a maximum that has been specified on the email, based on current travelling prices and distances.</p>
    <p>Requirements to receive travel reimbursement are:</p>
    <ul style="padding-left: 1em;">
      <li>Received an email with travel reimbursement amount.</li>
      <li>Travel reimbursement receipts submitted before the end of HackUPC or before the date specified by the HackUPC Team.</li>
      <li>Project submitted to Devpost before the due date.</li>
    </ul>
    
    <h4><strong>Cheating</strong></h4>
    <p>Any cheating allegations will be resolved according to the HackUPC Cheating Response Procedure (clause 4).</p>
    
    <h4><strong>Remember!</strong></h4>
    <p>The competition is just a part of the Hackathon. To make the most out of the event, try something new, teach other people, and make new friends! Happy Hacking from the HackUPC team!</p>
    
    <hr>
    <h3>3.CODE OF CONDUCT</h3>
    <p>This is the Code of Conduct that we expect all HackUPC participants to abide. This is a customized version of the Code of Conduct used at MLH Member Hackathons. If you have a suggestion for this code of conduct or a question about them, please submit an issue <a href="https://github.com/hackupc/rules/issues" target="_blank">here</a>.</p>

    <h4><strong>TL;DR</strong></h4>
    <p>Be respectful. Harassment and abuse are never tolerated.</p>

    <h4><strong>The Code of Conduct</strong></h4>
    <p>At HACKERS AT UPC we believe that every participant has the right to hack in a safe and welcoming environment.</p>
    <p>Harassment includes but is not limited to offensive verbal or written comments related to gender, age, sexual orientation, disability, physical appearance, body size, race, religion, social class, economic status, veteran status, sexual images, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention. If what you’re doing is making someone feel uncomfortable, that counts as harassment and is enough reason to stop doing it.</p>
    <p>Participants asked to stop any harassing behavior are expected to comply immediately.</p>
    <p>Sponsors, judges, mentors, volunteers, organizers, and anyone else at the event are also subject to the anti-harassment policy. In particular, attendees should not use sexualised images, activities, or other material both in their hacks and during the event. Booth staff (including volunteers) should not use sexualised clothing/uniforms/costumes, or otherwise create a sexualised environment.</p>
    <p>If a participant engages in harassing behavior, HACKERS AT UPC may take any action it deems appropriate, including warning the offender or expulsion from the event with no eligibility for reimbursement or refund of any type.</p>
    <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact HACKERS AT UPC using the reporting procedures defined below.</p>
    <p>Event organizers will be happy to help participants contact campus security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the event. We value your attendance.</p>
    <p>We expect participants to follow these rules at all hackathon venues, online interactions in relation to the event, hackathon-related social events, and on hackathon supplied transportation.</p>

    <h4><strong>Reporting Procedures</strong></h4>
    <p>If you feel uncomfortable or think there may be a potential violation of the code of conduct, please report it immediately using one of the following methods. All reporters have the right to remain anonymous.</p>
    <p>By sending us an email to contact@hackupc.com, your report will be received by our organizers. If you want to remain anonymous please send us an email through an anonymous email service or create a temporary email account.</p>
    <p>If you need to contact a team member directly, please contact one of our organizers below.</p>
    <ul style="padding-left: 1em;">
        <li>Marina Ramon, @marina in Slack, <a href="mailto:marina@hackupc.com" target="_blank">marina@hackupc.com</a>.</li>
        <li>Fàlix Arribas, @felix in Slack, <a href="mailto:felix@hackupc.com" target="_blank">felix@hackupc.com</a>.</li>
        <li>Oscar Faixat, @faix in Slack, <a href="mailto:oscar@hackupc.com" target="_blank">oscar@hackupc.com</a>.</li>
    </ul>
    <p>HACKERS AT UPC reserves the right to revise, make exceptions to, or otherwise amend these policies in whole or in part.</p>
    
    <hr>
    <h3>4.HackUPC CHEATING RESPONSE PROCEDURE</h3>
    <h4><strong>Procedure</strong></h4>
    <p>The following is a guide of actions to be taken in the case of an accusation that a team cheated or otherwise violated the rules of competition.</p>
    <p>Accusations of cheating may include but are not limited to:</p>
    <ul style="padding-left: 1em;">
      <li>A team using somebody else’s code.</li>
      <li>A team misrepresenting the work they did.</li>
      <li>A team having too many team members.</li>
      <li>A team using code that was written outside the event.</li>
    </ul>
    <p>To determine the validity of cheating instances HACKERS AT UPC defers to the rules addressed in clause 2.</p>
    
    <h4><strong>Accusation</strong></h4>
    <p>If you suspect cheating, please get in touch with the organizers of the event. If you are still at the event, please talk to a HackUPC organizer. If it is after the event, please email <a href="mailto:contact@hackupc.com" target="_blank">contact@hackupc.com</a>.</p>
    
    <h4><strong>Document the Report</strong></h4>
    <p>The following steps are to be followed by HACKERS AT UPC.</p>
    <p>Try to get as much of the allegation in written form by the reporter. If you cannot, transcribe it yourself as it was told to you.</p>
    <p>The important information to gather include the following:</p>
    <ul style="padding-left: 1em;">
      <li>Identifying information (name, email, phone, etc.) of the reporter.</li>
      <li>Identifying information (name, email, phone, etc.) of the participant/team accused of cheating.</li>
      <li>Reason the reporter suspects cheating.</li>
      <li>Other people suspected to be involved in the cheating.</li>
      <li>Other witnesses / people who suspect the cheating.</li>
      <li>Any relevant URLs (e.g. for GitHub repos or Devpost pages).</li>
    </ul>
    <p>HackUPC organizers will then investigate the allegation by reviewing public materials about the hack, including project repos, project submissions, and anything else available to them.</p>
    
    <h4><strong>Response</strong></h4>
    <h5><strong>A.</strong> Cheating Did Not Occur</h5>
    <p>If HACKERS AT UPC determines cheating did not occur, they will compile a report and inform the reporter.</p>
    <h5><strong>B. </strong> Other Outcomes</h5>
    <p>If HACKERS AT UPC is unable to determine that cheating did not occur based on publicly available resources, organizers will then communicate with the alleged cheater. Informing them of what has been reported about them. Allow the alleged cheater to give their side of the story to the staff. After this point, if the report stands, let the alleged cheater know what actions will be taken against them.</p>
    
    <h4><strong>Actions that organizers will consider when dealing with alleged cheating offenders</strong></h4>
    <p>The following actions will be considered:</p>
    <ul style="padding-left: 1em;">
      <li>Warning the cheater to cease their behavior and that any further reports will result in sanctions.</li>
      <li>Not allowing the participants to demo.</li>
      <li>Not allowing the participants to win prizes.</li>
      <li>Revocation of prizes & recognitions.</li>
      <li>Banning the participants from future events (either indefinitely or for a certain time period).</li>
      <li>Publishing an account of the cheating.</li>
    </ul>
    <p>Depending on the cheating allegation, HACKERS AT UPC may decide to make one or more public announcements. If necessary, this will be done with a short announcement. No one other than HackUPC directors should make any announcements.</p>
    <p>If some attendees were angered by the cheating, it is best to apologize to them that the cheating occurred to begin with.</p>
    
    <hr>
    <h3>5.TERMINATION AND CANCELLATION</h3>
    <p>HACKERS AT UPC may at any time, in its sole discretion, immediately terminate this Agreement with or without cause. HACKERS AT UPC will make commercially reasonable efforts to notify the Participant or Attendee via e-mail of any such termination or cancellation within a reasonable period of time</p>
    <p>Participants or Attendees may cancel and/or terminate this Agreement with or without cause at any time, always notifying HACKERS AT UPC in a reasonable period of time.</p>
    <p>If either party does not fulfil a material obligation defined in this Agreement, the other party has the right to terminate this Agreement immediately with written notice to the party in breach, provided that such material breach remains uncured, without prejudice of the right to claim the damages caused to the non-breaching party.</p>
    
    <hr>
    <h3>6.CONFIDENTIALITY, PERSONAL DATA PROTECTION AND RIGHTS OF IMAGE</h3>
    <p>In accordance with the current data protection legislation, particularly the Regulation (EU) 2016/679 of The European Parliament and of The Council, of 27 April, on the protection of natural persons with regard to the processing of personal data and on the free movement of such data, all personal data collected during the use of the Website will be processed in accordance with the provisions of the <a href="my.hackupc.com/privacy_and_cookies/" target="_blank">Privacy and Cookies Policy</a> which all Users must expressly accept.</p>
    <p>As it is explained in the Privacy Policy, one of the personal data that you authorize HACKERS AT UPC to process is your image:</p>
    <ul style="padding-left: 1em;">
      <li>By accepting the Privacy Policy and these T&C you grant HACKERS AT UPC, its directors, officers, employees, agents and Sponsors permission to capture photographs and/or record videos of yourself in the event you request to participate. You also grant HACKERS AT UPC permission to provide those pictures and/or videos.</li>
      <li>You give your consent for the images and/or videos taken during the course of this event to be displayed, broadcasted and/or published by HACKERS AT UPC and/or the Sponsors of the event you request to participate for advertising purposes through any audiovisual and/or written media (TV, press, internet, social networks, etc.) and in any advertising and media support (brochures, banners, panels, website, memory of activities, publications, reports, etc.), worldwide, for an indefinite period and without limitation.</li>
      <li>This authorization is perpetual and has no other limitations than those contained in the Spanish Organic Law 1/1982, of May 5, on Civil Protection of the right to honor, personal and family privacy and self-image.</li>
      <li>This authorization is made completely free of charge, and you undertake not to request or claim any compensation, payment or reimbursement in exchange for this authorization.</li>
    </ul>
    
    <hr>
    <h3>7.LIMITATION OF LIABILITY AND INDEMNIFICATION</h3>
    <h4><strong>Indemnification</strong></h4>
    <p>You agree to indemnify, defend and hold HACKERS AT UPC, its members (hosts and volunteers) and other personalities that have a role in this event (sponsors, judges, mentors) harmless from and against any and all costs, claims, demands, liabilities, expenses, losses, damages and attorney fees arising from any claims and lawsuits or proceeding for libel, slander, copyright, and trademark violation as well as all other claims resulting from (i) the participation in the event HackUPC or (ii) otherwise arising from a relationship with HACKERS AT UPC. You also agree to indemnify HACKERS AT UPC for any legal fees incurred by HACKERS AT UPC, acting reasonably, in investigating or enforcing its rights under this Agreement.</p>
    
    <h4><strong>Limitation of Liability</strong></h4>
    <p>UNDER NO CIRCUMSTANCES WILL HACKERS AT UPC BE LIABLE TO THE PARTICIPANT OR ATTENDEE WITH RESPECT TO ANY SUBJECT MATTER OF THESE TERMS AND CONDITIONS UNDER CONTRACT, TORT (INCLUDING NEGLIGENCE), STRICT LIABILITY OR OTHER LEGAL OR EQUITABLE THEORY, WHETHER OR NOT HACKERS AT UPC HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE, FOR INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL OR EXEMPLARY DAMAGES ARISING FROM ANY PROVISION OF THESE TERMS. THESE LIMITATIONS SHALL APPLY NOTWITHSTANDING ANY FAILURE OF ESSENTIAL PURPOSE.</p>
    
    <hr>
    <h3>8.MODIFICATIONS</h3>
    <p>HACKERS AT UPC reserves the right to amend the provisions of the present Agreement that are minor in scope or nature, and to do so without citing any reasons, provided such modifications do not lead to the Agreement as a whole being restructured. HACKERS AT UPC will communicate, by e-mail or other electronic means, the modified conditions at least 15 days prior to the Effective Date. Participants or Attendees who do not object in writing to the modification within 7 days after the receipt of the communication will be deemed to have accepted the respective modification.</p>
    <p>If a Participant or Attendee objects to the new (modified) Terms, HACKERS AT UPC´s request to modify them will be deemed to have been rejected. The Agreement will then be continued without the proposed modification only in relation to such particular event where the change was made while the Participant or Attendee was already registered, however, the new T&C with all modifications will fully apply for any new event. The right of the parties to terminate their participation in the event HackUPC remains unaffected hereby.</p>
    
    <hr>
    <h3>9.APPLICABLE LAW AND JURISDICTION</h3>
    <p>This Agreement shall be governed by Spanish law.</p>
    <p>In the event that the User's domicile is outside Spain, HACKERS AT UPC and the Participant or Attendee, expressly waiving any other jurisdiction to which they may be entitled, hereby submit to the jurisdiction of the Courts and Tribunals of Barcelona.</p>
    <p>HACKERS AT UPC will pursue the breach of this Agreement by exercising all civil and criminal actions that may correspond.</p>
    
    <hr>
    <h3>10.GENERAL PROVISIONS</h3>
    <h4><strong>Force Majeure</strong></h4>
    <p>Except for payment obligations, if either party is prevented from performing or is unable to perform any of its obligations under this Agreement due to causes beyond the reasonable control of the party invoking this provision, including but not limited to acts of God, acts of civil or military authorities, riots or civil disobedience, wars, strikes or labor disputes (each, a “Force Majeure Event”), such party’s performance shall be excused and the time for performance shall be extended accordingly provided that the party immediately takes all reasonably necessary steps to resume full performance. If such party remains unable to resume full performance fifteen (15) days after the Force Majeure Event, the other party may terminate this Agreement upon written notice.</p>
    
    <h4><strong>Severability</strong></h4>
    <p>Should any of the provisions of this Agreement be adjudged invalid or unenforceable by the rules and regulations of Spain or a Spanish court, such provisions shall be deemed several from the remainder of this Agreement and not affect the validity or enforceability of the remainder of this Agreement. In that case, such provisions shall be changed and interpreted to achieve the purposes of those provisions as much as possible within the extent of relevant laws or judgment of the court.</p>
    
    <h4><strong>Survival</strong></h4>
    <p>Clauses 5, 6 and 9 shall survive termination or expiration of this Agreement for any reason. All other rights and obligations of the parties under this Agreement shall expire upon termination of this Agreement, except that all payment obligations accrued hereunder prior to termination or expiration shall survive such termination.</p>
    
    <h4><strong>Assignment</strong></h4>
    <p>HACKERS AT UPC is hereby authorized to assign, sublicense, delegate or otherwise transfer any of its rights or obligations under this Agreement without the prior written consent of the other party provided that the assignee shall assume all rights and obligations under this Agreement</p>
    <p>The Participant or Attendee shall not assign, sublicense, delegate or otherwise transfer any of its rights or obligations.</p>
    
    <h4><strong>Notices</strong></h4>
    <p>All notices and other communications hereunder shall be in writing and shall be deemed to have been duly given when delivered in person (including by internationally recognized commercial delivery service), and on the day the notice is sent when sent by email with confirmation receipt, if the time of transmission is during recipient’s business day, or if not on the next business day thereafter, in each case to the respective parties at the postal or email addresses provided by them in writing.</p>
    <p>Either party may change its address by providing the other party with written notice of the change in accordance with this section.</p>
    
    <h4><strong>Relationship of Parties</strong></h4>
    <p>The parties are independent contractors and will have no right to assume or create any obligation or responsibility on behalf of the other party. Neither party shall hold itself out as an agent of the other party. This Agreement will not be construed to create or imply any employment relationship, partnership, agency, joint venture or formal business entity of any kind.</p>
    
    <h4><strong>Waiver</strong></h4>
    <p>No delay or failure by either party to exercise any right or remedy under this Agreement will constitute a waiver of such right or remedy. All waivers must be in writing and signed by an authorized representative of the party waiving its rights. A waiver by any party of any breach or covenant shall not be construed as a waiver of any succeeding breach of any other covenant.</p>
    
    <h4><strong>Entire Agreement</strong></h4>
    <p>This Agreement constitutes the entire agreement between the parties and supersedes all previous agreements, oral or written, with respect to the subject matter of this Agreement. The information and documents provided by the Participant or Attendee to HACKERS AT UPC, as requested by the latest in order to enter the Agreement, shall be also considered as part of this Agreement. This Agreement may not be amended without the written consent of the parties.</p>
    
    <h4><strong>Headings</strong></h4>
    <p>The headings of the articles and paragraphs contained in this Agreement are inserted for convenience and are not intended to be part of or to affect the interpretation of this Agreement.</p>
    
    <h4><strong>Counterparts</strong></h4>
    <p>This Agreement may be executed in counterparts or online, which taken together shall form one legal instrument.</p>
    
    <h4><strong>No Third Party Beneficiaries</strong></h4>
    <p>This Agreement shall be binding upon and inure solely to the benefit of the parties hereto and their permitted assigns and nothing herein, express or implied, is intended to or shall confer upon any other person any legal or equitable right, benefit or remedy of any nature whatsoever under or by reason of this Agreement.”</p>
    
    <hr>
    <p>Last Reviewed: July 12, 2018.</p>
{% endblock %}
